* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
}

/* nav bar styling  */
#mainNavigation a {
    font-family: "Bebas Neue", sans-serif;
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}

.invert {
    width: 7vw;
    height: 7vw;
}

.nav-item a{
    color:#dfdfdf;
}
.nav-item a:hover {
    color:#fff
}
.nav-item{
    min-width:12vw;
}
#mainNavigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:120px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
    background:#313131;
    padding:12px;
}

#mainNavigation a:hover {
    transform: scale(1.2rem);
    color: rgb(252, 252, 171);
}

.display-mode {
    display: flex;
    align-items: center;
    gap: 4px;
}

.display-mode a {
    text-decoration: none;
    color: white;
    transition: all 500ms ease-out;
}
/* body styling */
.wrapper {
    padding: 27vh 10vw;
    padding-bottom: 10vh;
    background-size: cover;
    width: 100%;
}
/* home page styling */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
  
.greating {
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 3rem;
}

.home_button {
    display: inline-block;
    padding: 7px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 5px;
}

.home_button :hover {
    color: white;
}

.explore-btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    transform: scale(1.2rem);
}
/* islands page styling */
.islandspage_content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.page-part{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.page-part:nth-child(1){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/island1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.page-part:nth-child(2){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/island2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.page-part:nth-child(3){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/island3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.page-part:nth-child(4){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/island4.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.content{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}

.content h1{
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.content h2{
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.content p{
    color: white;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
}
/* events page styling */
.eventpage_content {
    width: 100%;
    height: 100vh;
    background: #36768c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .eventpage_content{
    background-color: #3a3939;
}

.card{
    width: 22vw;
    height: 800px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
    margin-top: 20px;
    margin-inline: 10px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-family: "Playfair Display", serif;
}

.card:hover .card-body {
    top: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.dark .card-title{
    color: white;
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.dark .card-sub-title{
    color: white;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.dark .card-info{
    color: white;
}

.card-btn {
    color: #1f3d47;
    background: #8fabba;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.dark .card-btn{
    background: #fff;
}
/* about us page styling */
.aboutpage_content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.section:nth-child(1){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/sheybarah.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(2){
    background: url('/static/images/white.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.dark .section:nth-child(2) {
    background: url('/static/images/black.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(3){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/mission.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(4){
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/static/images/vision.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(2){
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(3){
    background-size: cover;
    background-attachment: fixed;
}

.context{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}

.context h1{
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 90px 70px;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.context h2{
    color: burlywood;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.context p{
    color: black;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
}

.dark .context p{
    color: white;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
} 

.goal h2 {
    color: white;
}

.goal p{
    color: white;
}
/* contact page styling */
.contact-container {
    background-image: url('/static/images/contact.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
}

.dark .contact-container{
    background-image: url('/static/images/island-dark.jpg');
}

.contact-info-container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.dark .contact-container h1 {
    color: white;
}

.contact-info p {
    font-size: 25px;
}

.dark .contact-info p {
    color: white;
}

.contact-info a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.dark .contact-info a {
    color: #36768c;
}

.map {
    width: 50vw;
    height: 25vw;
    border-radius: 25px;
}