#home{
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0;
}
#home h1{
  margin-top: 0;
  font-weight: 400;
  font-size: 7rem;
  animation: bounceInLeft 2s ease-in-out;
}

.title,.parg{
  display: grid;
  grid-template-columns: 50%;
  line-height: 2rem;
  margin-left: 0;
  width: 97%;
  
}

.parg{
  margin: 2rem 0 0 4rem;
  grid-template-columns: 50% auto;
  line-height: 1rem;
}

.button{
  display: grid;
  grid-template-columns: 30%;
  margin-top: 2rem;
  margin-left: 4rem;
  border-radius: 4px;
  justify-content: end;
  
}
.button a{
  left: 8rem;
}
.button button{
  border-radius: 50px;
  padding: 4px 2.3rem ; 
  background-color: rgba(8, 116, 19,.6);
  color: white;
  border: 1px solid rgb(10, 60, 15);
  font-size: 10pt;
  
}
.button button:hover{
  scale: 1.2;

}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}