{% extends 'main/base.html' %}
{% load static %}
{% block title %} About us  {% endblock %}

{% block body %}
<div class="aboutpage_content">
    <section class="section">
        <div class="context">
            <h1>About Us</h1>
        </div>
    </section>
    <section class="section">
        <div class="context information">
            <h2>Who we are</h2>
            <p>Red Sea Global (RSG) is one of the world’s most visionary developers, wholly owned by the Public Investment Fund (PIF) of Saudi Arabia. We are spearheading a new model of development, putting people and planet first and leveraging the most innovative concepts and technologies to deliver projects that actively enhance the well-being of customers, communities and environments.</p>
            <p>Our portfolio includes two world-leading destinations announced by HRH Crown Prince Mohammad bin Salman bin Abdulaziz Al-Saud, The Red Sea and Amaala. Collectively, these responsible and regenerative tourism destinations will aim to enhance Saudi Arabia’s luxury tourism and sustainability offering. </p>
        </div>
    </section>
    <section class="section">
        <div class="context goal">
            <h2>Our Mission</h2>
            <p>Our mission is to act as agents of change, by partnering with the world's greatest minds to spearhead new innovations that reimagine the boundaries of our sector and create a better world for people and planet.</p>
        </div>
    </section>
    <section class="section">
        <div class="context goal">
            <h2>Our Vision</h2>
            <p>Our vision is to become the world’s most responsible developer, by trailblazing new global standards which see built environments become enablers for social and ecological transformation.</p>
        </div>
    </section>
</div>
{% endblock %}