{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %} class="dark" {% endif %}>

    <div id="mainNavigation">
        <nav role="navigation">
          <div class="py-3 text-center border-bottom">
            <a href="{% url 'main:home_view' %}">
            
            </a>
          </div>
        </nav>
        <div class="navbar-expand-md">
          <div class="navbar-dark text-center my-2">
            <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
            </button>
          </div>
          <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'main:home_view' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:island_view' %}">Islands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:event_view' %}">events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:about_view' %}">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="{% url 'main:cont_view' %}">Contact us</a>
              </li>
              <div class="display-mode light">    
                <a href="{% url 'main:light_mode_view' %}?next={{ request.path }}"><span class="material-symbols-outlined">light_mode</span></a>
              </div>
              <div class="display-mode dark">    
                <a href="{% url 'main:dark_mode_view' %}?next={{ request.path }}"><span class="material-symbols-outlined">dark_mode</span></a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      {% block body %}
      
      {% endblock %}
      <footer>

      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>