{% extends 'main/base.html' %}
{% load static %}
{% block title %} Contact  {% endblock %}

{% block body %}
    <div class="wrapper contact-container">

        <h1>Contact Us</h1>

        <div class="contact-info-container">

            <div class="contact-info">

                <p>Telephone: <a href="tel:+966 112 645 101">+966 112 645 101</a></p>
                <p>Email: <a href="mailto:info@visitredsea.com">info@visitredsea.com</a></p>
                <p>Address:</p>
                <div>
                    <p>An Nakheel, Riyadh</p>
                    <p>Saudi Arabia</p>
                </div>

            </div>

            <div>

                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7589.926456715588!2d46.6307882413259!3d24.74102478530172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3d81e522f0d%3A0xffcd598c5ce86144!2sRed%20Sea%20Global!5e0!3m2!1sen!2ssa!4v1710229050702!5m2!1sen!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>

        </div>

    </div>
{% endblock %}