{% extends 'main/base.html' %}
{% load static %}

{% block title %} Islands {% endblock %}

{% block body %}
    <div class="islandspage_content">
        <section class="page-part">
            <div class="content">
                <h2>Turtle Bay</h2>
                <p>The village is a state-of-the-art residential and commercial area that will house around 14,000 workers, staff, and management at The Red Sea.</p>
            </div>
        </section>
        <section class="page-part">
            <div class="content">
                <h2>Shura Island</h2>
                <p>Shura is the main hub island at The Red Sea. With a natural dolphin shape, the island is one of 92 in our archipelago and home to stunning vistas, incredible native fauna and flora, and beautiful wildlife.</p>
            </div>
        </section>
        <section class="page-part">
            <div class="content">
                <h2>Ummahat Islands</h2>
                <p>Ummahat is home to two of our most exclusive resorts, the St. Regis Red Sea Resort and Nujuma, A Ritz-Carlton Reserve. Surrounded by crystal-clear waters, white sandy beaches and an abundance of thriving coral reefs, guests of the island will experience new levels of luxury, marrying the very best of The Red Sea with the incredible natural beauty of the Red Sea coast.</p>
            </div>
        </section>
        <section class="page-part">
            <div class="content">
                <h2>Sheybarah Island</h2>
                <p>A 45-minute boat ride from the mainland, a stay on Sheybarah guarantees ultimate exclusivity and bliss. Surrounded by crystal clear waters and away from the hustle and bustle of everyday life, guests can enjoy water-based activities or choose to unwind on one of the island’s many white sandy beaches</p>
            </div>
        </section>
    </div>
{% endblock %}