{% extends 'main/base.html' %}
{% block title %} Old Saudi {% endblock %}
{% load static %}
{% block content %}



<!-- هنا حق القصه -->
<div class="container">
  <div class="row">
    <div class="col">
    <img class="story" src="{% static 'images/story2.png' %}" width="300px"/>
    </div>
    <div class="col-8">
    <h1 class="animated-text">our story</h1>
    <h5>Before the unification, the Arabian Peninsula was home to several kingdoms and 
      regions under different control, including the Najdi, Hijazi, and Yemeni kingdoms.<br>
       The region was a center for trade and culture, experiencing influences from various 
        civilizations and religions.</h5>
    </div>
    
  
    <div class="row ">
      <div class="col-4 ">
        
      <img class="Top" src="{% static 'images/man.png' %}" width="300px" height="525px"/>
        
      </div>    
      <div class="col-8">
         <h5>The establishment of the Kingdom of Saudi Arabia can be summarized
              through the following key stages:</h5> 
          <h5>1. *Founding of Diriyah and the First Saudi State (15th century AD):*</h5>
            <p>- The story of Saudi Arabia's founding began with the migration of the senior ancestor of the Al Saud family, Mani' bin Rabia Al-Muraydi, to the region of Najd and the establishment of the city of Diriyah in the 15th century AD.
            - Prince Mohammed bin Saud founded the first Saudi state with Diriyah as its capital in 1727 AD.
            - The influence of the first Saudi state extended to regions of the Hijaz such as Mecca and Medina.</p>
          
          <h5>2. *Fall of the First Saudi State (1818 AD):*</h5>
            <p>- The first Saudi state faced an attack from the Ottoman campaign led by Ibrahim Pasha, resulting in the fall of the first Saudi state.</p>
          
          <h5>3. *Establishment of the Second Saudi State (1824 AD):*</h5>
            <p>- Imam Turki bin Abdullah bin Muhammad Al Saud established the second Saudi state with Riyadh as its capital in 1824 AD.
            - This state continued until 1891 AD, when it fell under the control of the Amir of Hail due to conflicts among the sons of Faisal bin Turki Al Saud over governance.</p>
          
          <h5>4. *Foundation of the Third Saudi State and Unification (20th century):*</h5>
            <p>- King Abdulaziz bin Abdul Rahman Al Saud aimed not only to regain Najd but also to unify all regions of the Hijaz under the rule of the Al Saud family.
            - He began the establishment of the third Saudi state from Riyadh in 1902 and continued to unify the regions of the Hijaz until issuing a royal decree to unify the country under the name of the Kingdom of Saudi Arabia in 1932.</p>
          </div>
            

            
    </div>
      </div>
    </div>
    </div>
{% endblock %}
