{% extends 'main/base.html' %}
{% block title %} North Region {% endblock %}
{% load static %}
{% block dropdown %}

<nav class="navbar  fixed-top">
  
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">The Northen Region</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
        <a class="nav-link" href="#Traditional attire">Traditional Attire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Traditional food">Traditional Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Heritage sites">Heritage Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#flock dance">Flock Dance</a>
      </li>
   {% block mode%}
   {% endblock%}
     
    </div>
  </div>
</div>
</nav>
{% endblock %}
{% block content %}
<!--
    هنا المحتوى 
-->
<div class="container col-12">
  <div class="row">
      <div class="col-12">
          <h1>The Northen Region</h1>
          <img class="map" src="{% static 'images/north.png'%}" width="350px" height="300px">
      </div>
       <div class="col">
            <h2>Before the Saudi rule, the conditions in the regions</h2>
            
        </div>
       
                  <div class="row mt-5">
                      <div class="col-12">
                          <b>Northen Saudi Arabia:</b>
                          <p>Before the unification of the Kingdom, the situation in the northern regions of Saudi Arabia was diverse and varied over different historical periods. There were independent tribes managing their internal affairs in some areas, while the Saudi Arabian Kingdom was being established in the southern part of the Arabian Peninsula under the rule of the Al Saud family.

                            The conditions were highly dynamic and complex during that period, marked by tribal and political conflicts among various tribes in the region. There was also influence from British and Ottoman expansion in the area, as well as local religious and social influences.
                            
                            In the modern era before unification, Saudi Arabia was gradually expanding under the leadership of the ruling family in efforts to combat other tribes and unify the territories under its control. However, this process was ongoing and complex, leading to alliances and conflicts with various groups and tribes in the region.</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col" id="Traditional attire">
                          <h2>Traditional attire</h2>
                          <h3>Man And Woman</h3>
                          <div class="man-container col-12">
                              <!-- ملابس الرجال القديمة -->
                                {% for mw in manwomanNorth %}
                                        <div class="man-card col-4">
                                            <img src="/static/images/{{ mw.image }}" />
                                            <div class="man-body">
                                                <h2>{{ mw.title }}</h2>
                                            </div>
                                        </div>
                                 {% endfor %}
                          </div>
                       </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-12">
                          <h3>Children</h3>
                            <div class="child-container">
                              <!-- الاطفال -->
                              {% for childe in childNorth %}
                                <div class="child-card">
                                  <img src="/static/images/{{ childe.image }}" />
                                  <div class="child-body">
                                      <h2>{{ childe.title }}</h2>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                       </div>
                  </div> 
                   
                  
                  <!--  فوق الملابس التقليدية -->
                  <div class="row">
                      <div class="col" id="Traditional food">
                          <h2>Traditional food</h2>
                          <div class="food-container col-12">
                              <!-- الاكلات الشعبية -->
                              {% for f in foodNorth %}
                              <div class="food-card col-4">
                                  <img src="/static/images/{{ f.image }}" />
                                  <div class="food-body">
                                      <h2>{{ f.title }}</h2>
                                  </div>
                              </div>
                           
                             {% endfor %}
                          </div>
                      </div>
                  </div>
                  <!-- Traditional food section -->
                  <div class="row">
                      <div class="col" id="Heritage sites">
                          <h2>Heritage sites</h2>
                          <div class="site-container col-12">
                              <!-- المناطق التراثية -->
                              {% for s in siteNorth %}
                              <div class="site-card col-4">
                                <img src="/static/images/{{ s.image }}" />
                                <div class="site-body">
                                    <h2>{{ s.title }}</h2>
                                </div>
                              </div>

                              {% endfor%}
                       </div>
                     </div>
                  </div>
             
                  <div clas="row">
                    <div class="col" id="flock dance">
                      <h1>Flock dance</h1>
                      <h2>الدحة</h2>
                      <video controls autoplay  loop id="njd" width="500" height="300">
                        <source src="{% static 'video/north.mp4'%}" type="video/mp4">
                      </video>
                    </div>
                  </div>
              </div>
{% endblock%}