{% extends 'main/base.html' %}
{% block title %} West Region {% endblock %}
{% load static %}
{% block dropdown %}

<nav class="navbar  fixed-top">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">The Western Region</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#Traditional attire">Traditional Attire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Traditional food">Traditional Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Heritage sites">Heritage Site</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flock dance">Flock Dance</a>
        </li>
       
      </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<!--
     هنا المحتوى 
-->
<!-- بعدين ماتطلع الصور اراجعها -->
<!--
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/man.png" class="d-block w-100" alt="..."/>
    </div>
    <div class="carousel-item">
      <img src="static/images/man.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/man1.center.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
<div class="container col-12">
  <div class="row">
      <div class="col-12">
          <h1>The Western Region</h1>
          <img class="map" src="{% static 'images/west.png'%}" width="350px" height="300px">
      </div>
       <div class="col">
            <h2>Before the Saudi rule, the conditions in the regions</h2>
        </div>
        
                  <div class="row mt-5">
                      <div class="col-12">
                          <b>Western Saudi Arabia:</b>
                          <p>"In the western region, Muhammad bin Sulaiman al-Hasani seized control of the Emirate of Mecca from the Abbasid governor in 301 AH/914 AD. The rule remained in the hands of the al-Hasani Sharifs until the Qarmatians took over in 317 AH/929 AD. Later, the leader Ja'far bin Muhammad al-Hasani managed to regain control over Mecca and its surroundings. The Hashemites from the al-Hasani Sharifs continued to govern until Qatada bin Idris took over the Emirate in 597 AH/1201 AD. This aristocratic class continued to rule the Hijaz until 1343 AH/1925 AD.

                            The economic life in the Hijaz relied on animal wealth and its products, while the coastal populations depended on fishing resources. Economic life in the Hijaz was influenced by the general political situation. When political conditions stabilized, economic conditions improved. Conversely, if the political situation deteriorated, economic conditions worsened, leading to economic disasters."</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col" id="Traditional attire">
                          <h2>Traditional attire</h2>
                          <h3>Man</h3>
                          <div class="man-container col-12">
                              <!-- ملابس الرجال القديمة -->
                                {% for m in manWest %}
                                        <div class="man-card col-4 ">
                                            <img src="/static/images/{{ m.image }}" />
                                            <div class="man-body">
                                                <h2>{{ m.title }}</h2>
                                            </div>
                                        </div>
                                 {% endfor %}
                          </div>
                       </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <h3>Woman</h3>
                          <div class="woman-container col-12">
                              <!-- ملابس النساء-->
                              {% for w in womanWest %}
                                <div class="woman-card col-4">
                                    <img src="/static/images/{{ w.image }}" />
                                    <div class="woman-body">
                                        <h2>{{ w.title }}</h2>
                                    </div>
                                </div>
                         
                              {% endfor %}
                              
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <h3>Children</h3>
                            <div class="child-container">
                              <!-- الاطفال -->
                              {% for ch in childWest %}
                                <div class="child-card">
                                  <img src="/static/images/{{ ch.image }}" />
                                  <div class="child-body">
                                      <h2>{{ ch.title }}</h2>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                       </div>
                  </div> 
                   
                  
                  <!--  فوق الملابس التقليدية -->
                  <div class="row">
                      <div class="col" id="Traditional food">
                          <h2>Traditional food</h2>
                          <div class="food-container col-12">
                              <!-- الاكلات الشعبية -->
                              {% for f in foodWest %}
                              <div class="food-card col-4">
                                  <img src="/static/images/{{ f.image }}" />
                                  <div class="food-body">
                                      <h2>{{ f.title }}</h2>
                                  </div>
                              </div>
                           
                             {% endfor %}
                          </div>
                      </div>
                  </div>
                  <!-- Traditional food section -->
                  <div class="row">
                      <div class="col" id="Heritage sites">
                          <h2>Heritage sites</h2>
                          <div class="site-container col-12">
                              <!-- المناطق التراثية -->
                              {% for s in siteWest %}
                              <div class="site-card col-4">
                                <img src="/static/images/{{ s.image }}" />
                                <div class="site-body">
                                    <h2>{{ s.title }}</h2>
                                </div>
                              </div>

                              {% endfor%}
                       </div>
                     </div>
                  </div>
             
                  <div clas="row">
                    <div class="col" id="Flock dance">
                      <h1>Flock dance</h1>
                      <h2>الخبيتي</h2>
                      <video controls autoplay  loop id="njd" width="500" height="300">
                        <source src="{% static 'video/hejaz.mp4'%}" type="video/mp4">
                        
                      </video>
                    </div>
                  </div>
              </div>


{% endblock%}