/*----------eachstate.html-------------*/
.dark body{
    background-image: url(/static/images/background3-dark.jpg);
    background-color: rgb(210, 158, 102) ; /* Adjust opacity as needed */

}
body {
    /* Set background color */
  /* Light gray background */
    background-image: url(/static/images/background3.jpg);
    background-color: #DEC9B2 ; /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur radius */
    /* Set background image 
    background-image: url('background-image.jpg'); /* Replace 'background-image.jpg' with the path to your image */

    /* Specify background image size */
    background-size: cover; /* Cover the entire viewport */

    /* Specify background image position */
    background-position: center; /* Center the background image horizontally and vertically */

    /* Specify background image repeat */
    background-repeat: no-repeat; /* Do not repeat the background image */

    /* Add a background gradient */
    /*background: linear-gradient(to bottom, #f0f0f0, #ffffff);*/ /* Uncomment this line to add a gradient background */

    /* Add other background properties as needed */
}
.main{
    margin: 50px; 

}

header{
    border-radius: 25px;
    position:sticky;
    top: 1px;
    border-radius: 25px;
    z-index: 1 ;   
}
.navbar{
    border-radius: 25px;

   
}
/*
.main-box {
  padding: 20px;
  background-color: #f1f1f1; /* Set your desired background color 
}

.box2 {
  margin-top: 20px;
}

.carousel-item img {
  height: auto;
  max-width: 100%;
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item {
  text-align: center;
}*/

.carousel-slide{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel-item img {
    height: auto;
    max-width: 100%;
  }
  
  .carousel-inner {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
.carousel-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-box1{
    border: 5px solid black;
    width: 1200px;
    height: 500px;
    margin: 20px auto;
    position: relative;
}

.main-box{

    box-shadow: 50px; ;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    position: relative;
}
.box2{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    position: relative;
    margin: 100px auto;
    overflow: hidden;

}
.dark .main-boxB{

}
.main-boxB{
    border: 5px solid rgba(222, 201, 178, 0); /* Sets the border to transparent */
    /*box-shadow: 0 0 20px rgba(215, 215, 215, 0.5);
    /*background-image: url(/static/images/background1.jpg);
    backdrop-filter: blur(10px); /* Adjust the blur radius */

    width: 1500px;
    height:fit-content;
    margin: 20px auto;
    position: relative;
    z-index: -1;
}


.main-box1{

    border: 5px solid rgb(255, 255, 255);
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-box1:hover ,.main-box2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(215, 215, 215, 0.5);
    background-color: rgb(222, 201, 178);
}
.main-box2{
    border: 5px solid rgb(247, 247, 247);
    width: 1200px;
    height: 500px;
    padding-left: 100px;
    margin: 50px auto;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.center{
    background-color: bisque;
}

.para1 {
    font-family: Arial, sans-serif; /* Sets the font family */
    font-size: 16px; /* Sets the font size */
    font-weight: bold; /* Sets the font weight */
    text-align: left;
    margin: 10px 0;
  }

/*here is the card i made */
.card{
    width: 400px;
    aspect-ratio: 1/0.7;
    border-radius: 8px;
    position: relative;
}
.card .image-box{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.card:hover img{
    filter:
    grayscale(1)
    brightness(0.4) ;
}
.card:hover::after{
opacity: 1;
inset: 20px;
}
.card:hover .content h2{
    scale: 1;
    opacity: 1;
}
.card:hover .content p{
    opacity: 1;
    transform: translateY(0);
}

/*end card*/
/*------------------------*/
/* here is the when i hover become bigger */
.main-box2 {
    padding: 20px;
  }
  
  .container {
    max-width: 100%;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Adjust this value to control the aspect ratio of the image */
    overflow: hidden;
  }
  
  .stacked-image {
    position: absolute;
    top: 0;
    left: 50px;
    width: 85%;
    height: 80%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(100%); /* Apply grayscale filter */
  }
  
  .stacked-image:hover {
    transform: scale(1.2);
    filter: grayscale(0%); /* Remove grayscale filter */
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-4
  {  transition: background-color 0.5s ease-in-out;}
  .col-8,
  .col-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
/* end */

.footer1 {
    position:absolute;
    bottom:0%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    width:100%;
    font-family: 'ubuntu', sans-serif;
}