{%extends "main/base.html"%}
{% load static %}
{%block title%}Destinations{% endblock %}

{% block content %}
<div class="wrapper aboutpage-content">
<main class="about-south">
    <section class="about-us">
        <h1 class="abouut">Welcome to South Tourism, the Heartbeat of South Tourism</h1> 
    </section>

    <section class="our-mission">
        <h2>Our Mission</h2>
        <p>Our mission is to unveil the hidden gems of the South, from its lush, verdant landscapes to the warm, welcoming cultures that thrive within...</p>
    </section>

    <section class="what-we-offer">
        <h2>What We Offer</h2>
        <ul>
            <li>Customized Tour Packages</li>
            <li>Eco-Tours and Wildlife Safaris</li>
            <li>Cultural and Historical Excursions</li>
            
        </ul>
    </section>

    <section class="commitment">
        <h2>Our Commitment to Sustainability</h2>
        <p>Understanding the impact tourism can have on natural environments and local communities, we are steadfast in our commitment to sustainable and responsible travel...</p>
    </section>

    <section class="why-choose-us">
        <h2>Why Choose Us?</h2>
        <p>At [SouthTourism], we're more than just a travel company; we're a group of avid explorers and storytellers, passionate about sharing the beauty of the South...</p>
    </section>
</main>
</div>
{%endblock%}