{%extends "main/base.html"%}
{% load static %}
{%block content%}


  <div  class=" container" >
    <div class="row-flex">
        <div class="col-md-12 custom-border-l">
            
            <h1 class="Najran-h">Asir Region</h1>
            
            <div><img src="{% static 'images/aaa.avif' %}" class="Najran-img-2" alt="Najran"></div>
            <p>Architecture and Villages
                Mudbrick Architecture: Asir is famous for its traditional mudbrick houses, which are a testament to the ingenuity of its people in creating sustainable and environmentally friendly dwellings. These houses are characterized by their colorful facades, often decorated with geometric patterns.
                Rijal Almaa Village: This ancient village is a prime example of Asir's traditional architecture, with its stone and mudbrick towers that have stood for centuries. It has become a symbol of the region's cultural heritage and a significant tourist attraction.
                Arts and Handicrafts
                Al-Qatt Al-Asiri: A traditional form of interior wall decoration that is recognized by UNESCO as an Intangible Cultural Heritage. This art form is practiced by the women of Asir, who use vibrant colors and geometric patterns to decorate the walls of their homes, reflecting the community’s identity and aesthetic preferences.
                Handicrafts: Asir is also known for its handicrafts, including basket weaving, woodwork, and textiles, which are crafted with skills passed down through generations.
                </p>
            
        </div>
        <div class="col-md-12 custom-border">
            <div><img src="{% static 'images/4614.jpeg.webp' %}" class="Najran-img" alt="Najran"></div>
            <h1 class="Najran-h">History</h1>
            <p>Ancient Civilization: Asir has been inhabited since ancient times, with evidence of human settlements dating back to prehistoric periods. Archaeological sites in the region reveal the presence of ancient civilizations, including the Lihyanites and the Himyarites, who left behind traces of their cultures, such as inscriptions and artifacts.

                Trade Routes: Asir's strategic location along ancient trade routes contributed to its historical significance as a crossroads for trade and cultural exchange between Arabia, Africa, and beyond. It served as a vital link in the trade networks that connected the Arabian Peninsula with the Mediterranean world and the Indian Ocean.
                
                Islamic History: Asir played a role in early Islamic history, with the spread of Islam reaching the region during the time of the Prophet Muhammad (peace be upon him). The region witnessed the arrival of Islamic missionaries and the establishment of Islamic governance, shaping its cultural and religious landscape.
                
                Modern Era: In the modern era, Asir became part of the Kingdom of Saudi Arabia following its unification by King Abdulaziz Al Saud in the early 20th century. The region has seen significant development and infrastructure projects aimed at preserving its heritage while accommodating modern lifestyles.
                </p>
        </div>
        <div class="col-md-6 custom-border-l">
            <p>Traditional Architecture: Asir is renowned for its unique architectural style characterized by mud-brick buildings adorned with intricate geometric patterns and vibrant colors. The traditional architecture reflects the region's cultural identity and its adaptation to the local environment, with techniques passed down through generations.

                Arts and Crafts: Asir's culture is rich in arts and crafts, including pottery, weaving, and basketry. Skilled artisans produce a wide range of handcrafted items, such as carpets, rugs, and textiles, using traditional methods and designs that showcase the region's artistic heritage.
                
                Cuisine: Asir's cuisine is a reflection of its diverse cultural influences, blending Arabian, African, and Yemeni flavors. Local dishes often feature ingredients like lamb, rice, vegetables, and spices, with specialties such as Mandi (a rice and meat dish) and Aseedah (a traditional porridge).
                
                Festivals and Traditions: Asir celebrates various cultural festivals and traditions throughout the year, including folk dances, music performances, and poetry recitals. These events provide opportunities for locals and visitors to immerse themselves in the region's rich cultural heritage and hospitality.
                
                Hospitality: Hospitality is an integral part of Asiri culture, with locals known for their warmth, generosity, and welcoming nature. Visitors to the region often experience traditional hospitality, including sharing meals with families, attending gatherings, and participating in cultural activities.</p>
            <h1 class="Najran-h">culture</h1>
            <div><img src="{% static 'images/asw (1).jpeg' %}" class="Najran-img-2" alt="Najran"></div>
        </div>
        <div class="col-md-6 custom-border">
            <div><img src="{% static 'images/asir_national_park_0.webp' %}" class="Najran-img" alt="Najran"></div>
            <h1 class="Najran-h">Heritage</h1>
            <p>  Cultural Practices
                Flower Men: The men of some tribes in Asir are known for wearing garlands of dried herbs and flowers, a unique cultural practice that has attracted interest from around the world.
                Hospitality: Like the rest of Saudi Arabia, Asir has a deep-rooted tradition of hospitality. Guests are often welcomed with coffee and dates, followed by generous meals, reflecting the warm and welcoming nature of the Asiri people.
                Festivals and Events
                Asir Season: Part of Saudi Arabia’s initiative to promote tourism and cultural exchange, Asir Season showcases the region’s cultural richness, traditional crafts, and natural beauty, attracting visitors from across the globe.
                Natural Landscape
                Jabal Sawda: As part of the Sarawat Mountains, Jabal Sawda is one of the highest points in Saudi Arabia and offers breathtaking views. The region’s cool climate, misty mountains, and green valleys stand in stark contrast to the desert landscapes elsewhere in the kingdom.
                Conservation Efforts
                The Saudi government and local organizations are actively involved in preserving Asir's cultural heritage, including restoring historical sites, promoting traditional arts, and encouraging cultural tourism as a means of economic development while safeguarding traditions.
                
                The heritage of Asir is a vivid illustration of the region's ability to maintain its cultural identity while adapting to the modern world. It offers an inspiring example of the preservation of traditional values in a rapidly changing environment.
                
                
                
                
                
                </p>
        </div>
</div>
</div>
  
{%endblock%}