{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row-flex">
        <div class="col-md-12 custom-border-l">
            <h1 class="Najran-h">Al-Baha Region</h1>
            <div><img src="{% static 'images/raghadan-forest-hiking.jpg' %}" class="Najran-img-2" alt="Al-Baha"></div>
            <p>Al-Baha's culture is distinguished by its unique blend of traditional and modern influences, deeply rooted in its rich history and the diverse heritage of its people. The region's architecture, handicrafts, and festivals reflect a vibrant cultural identity that has been shaped over centuries.</p>
            <p>Known for its beautiful natural scenery and cooler climate, Al-Baha's traditional stone and mud-brick architecture blend harmoniously with its mountainous landscape. Crafts such as wood carving and basket weaving are celebrated, preserving the artisan skills of the region.</p>
        </div>
        <div class="col-md-12 custom-border">
            <div><img src="{% static 'images/between-al-bahah-and.jpg' %}" class="Najran-img-2" alt="Al-Baha"></div>
            <h1 class="Najran-h">History</h1>
            <p>Al-Baha's history is a testament to the region's strategic significance and cultural richness, positioned amidst ancient trade routes and known for its defensive forts. Here’s a glimpse into the historical backdrop of Al-Baha:</p>
            
        </div>
        <div class="col-md-6 custom-border-l">
            <h1 class="Najran-h">Culture</h1>
            <p>The culture of Al-Baha is a vivid mosaic of traditions, reflecting the lifestyles of both its mountain and Tihama plain inhabitants. Its geographical diversity has fostered a rich cultural tapestry, from traditional songs and dances to the unique architectural styles adapted to its varied climate.</p>
            <div><img src="{% static 'images/a-farmer-near-al-bahah.jpg' %}" class="Najran-img-2" alt="Al-Baha"></div>
        </div>
        <div class="col-md-6 custom-border">
            <div><img src="{% static 'images/caption (1).jpg' %}" class="Najran-img-2" alt="Al-Baha"></div>
            <h1 class="Najran-h">Heritage</h1>
            
            <p>Al-Baha's rich heritage is evident in its archaeological sites, historical buildings, and cultural festivals. Here are some highlights:</p>
    
    <ol>
        <li>
            <strong>Archaeological Sites:</strong>
            From ancient rock carvings to fortresses, Al-Baha is dotted with sites that narrate the history of its people and land. The area's rugged terrain is home to remnants of old villages and defensive structures that overlook the dramatic valleys below.
        </li>
        <li>
            <strong>Traditional Crafts:</strong>
            The artisans of Al-Baha excel in creating intricate handicrafts that reflect the region’s artistic heritage. Woodworking, pottery, and textile weaving are particularly notable, with goods often sold in local markets and festivals.
        </li>
        <li>
            <strong>Seasonal Festivals:</strong>
            Celebrating its cultural and natural bounty, Al-Baha hosts various festivals throughout the year that draw visitors from across Saudi Arabia. These festivals showcase local traditions, crafts, and the region's famous honey, offering a glimpse into the vibrant community life of Al-Baha.
        </li>
    </ol>
</div>
            
        </div>
    </div>
</div>

{% endblock %}
