{%extends "main/base.html"%}
{% load static %}
{%block content%}

<div class="container">
    <div class="row-flex">
        <div class="col-md-12 custom-border-l">
            <h1 class="Najran-h">Jizan Region</h1>
            <div><img src="{% static 'images/fifa.jpg' %}" class="Najran-img-2" alt="Jizan"></div>
            <p>Jizan's culture is deeply intertwined with its rich history and diverse heritage. The region's traditional architecture, handicrafts, and festivals reflect its vibrant cultural identity.</p>
            <p>Similar to Najran, Jizan boasts mud-brick buildings adorned with colorful decorations, showcasing the architectural ingenuity of its people. Traditional crafts such as pottery, weaving, and textile production continue to be practiced, preserving age-old techniques and designs.</p>
        </div>
        <div class="col-md-12 custom-border">
            <div><img src="{% static 'images/Jizan.jpg' %}" class="Najran-img-2" alt="Jizan"></div>
            <h1 class="Najran-h">History</h1>
            <p>The history of Jizan is a fascinating journey through time, revealing its role as a cultural crossroads and trading hub in the Arabian Peninsula. Here’s a glimpse into the historical narrative of Jizan:</p>
            
        </div>
        <div class="col-md-6 custom-border-l">
            <h1 class="Najran-h">Culture</h1>
            <p>Jizan's culture is a vibrant tapestry woven from the threads of various civilizations that have left their mark on the region over the centuries. Its strategic location along trade routes facilitated interactions between Arabian, African, and other cultures, enriching its cultural heritage.</p>
            <div><img src="{% static 'images/download90.jpeg' %}" class="Najran-img-2" alt="Jizan"></div>
        </div>
        <div class="col-md-6 custom-border">
            <div><img src="{% static 'images/Farasan_Island_3.jpg' %}" class="Najran-img-2" alt="Jizan"></div>
            <h1 class="Najran-h">Heritage</h1>
            
            <p>Jizan boasts a rich heritage that reflects its historical significance and cultural diversity. Here are some key aspects of Jizan's heritage:</p>
    
    
    <ol>
        <li>
            <strong>Historical Sites:</strong>
            Jizan is home to several historical sites that showcase its ancient past. These sites include ancient ruins, archaeological sites, and landmarks that provide insights into the region's history.
        </li>
        <li>
            <strong>Traditional Crafts:</strong>
            The traditional crafts of Jizan, such as pottery, weaving, and basketry, have been passed down through generations. Artisans continue to practice these crafts, preserving age-old techniques and producing unique handmade items.
        </li>
        <li>
            <strong>Cultural Practices:</strong>
            The cultural practices of Jizan reflect the traditions and customs of its people. These practices encompass various aspects of daily life, including food, clothing, music, dance, and religious rituals.
        </li>
    </ol>
</div>
            
        </div>
    </div>
</div>
{%endblock%}