{%extends "main/base.html"%}
{% load static %}
{%block content%}


  <div  class=" container" >
    <div class="row-flex">
        <div class="col-md-12 custom-border-l">
            
            <h1 class="Najran-h">Najran Region</h1>
            
            <div><img src="{% static 'images/65437.jpg' %}" class="Najran-img-2" alt="Najran"></div>
            <p>Najran's culture is deeply rooted in its rich history and diverse heritage. The region's traditional architecture, handicrafts, and festivals are a testament to its vibrant cultural identity.</p>
            <p>The distinctive mud-brick buildings adorned with colorful decorations showcase the architectural ingenuity of the local people. Traditional crafts such as pottery, weaving, and textile production are still practiced, preserving age-old techniques and designs.</p>
        </div>
        <div class="col-md-12 custom-border">
            <div><img src="{% static 'images/download (1).jpeg' %}" class="Najran-img" alt="Najran"></div>
            <h1 class="Najran-h">History</h1>
            <p>The history of Najran, one of the most fascinating regions in Saudi Arabia, stretches back thousands of years, revealing a tapestry of human civilization, trade, and cultural exchange. Situated along the ancient incense trade routes, it has always been a crossroads of cultures, ideas, and commerce. Here’s a brief overview of the historical journey of Najran:

                Prehistoric Times
                Evidence of human settlement in Najran dates back to prehistoric times. The region's favorable climate, fertile land, and water resources made it an attractive area for early human habitation. Archaeological discoveries, including rock art and stone tools, suggest the presence of settled communities engaged in agriculture and animal husbandry.
                
                Ancient Kingdoms
                By the 1st millennium BCE, Najran was part of a network of prosperous trading kingdoms, including the Kingdom of Sheba (Saba), which thrived on the incense trade. These kingdoms benefited from their strategic locations on trade routes connecting the Arabian Peninsula with the Mediterranean and the Far East.
                
                </p>
        </div>
        <div class="col-md-6 custom-border-l">
            <p>Over the centuries, Najran served as a melting pot of cultures due to its strategic location along trade routes. It witnessed interactions between various civilizations, including Arabian, African, and Mediterranean cultures, leading to a rich cultural heritage.</p>
            <h1 class="Najran-h">culture</h1>
            <div><img src="{% static 'images/download.jpeg' %}" class="Najran-img-2" alt="Najran"></div>
        </div>
        <div class="col-md-6 custom-border">
            <div><img src="{% static 'images/homeback.jpeg' %}" class="Najran-img" alt="Najran"></div>
            <h1 class="Najran-h">Heritage</h1>
            <p> 1. Al-Ukhdood Archaeological Site<br>
                One of the most significant historical sites in Najran, Al-Ukhdood, tells the tale of ancient civilizations, trade routes, and early Islamic history. The site contains the ruins of an ancient city that was mentioned in the Quran and had been a center for trade and commerce. Visitors can see the remnants of walls, homes, and inscriptions that date back thousands of years.
                
                2.Najran Dam<br>
                The Najran Dam is not only an engineering feat but also a symbol of the region's ability to harness natural resources. While primarily for water management and agriculture, the area around the dam has become a scenic spot for locals and tourists.
                
                3.Traditional Architecture <br>
               Najran is renowned for its distinctive mud-brick architecture that reflects the ingenuity of its people in creating sustainable and comfortable living spaces in a harsh desert environment. The Asir region, including Najran, is famous for its colorful and elaborately decorated buildings.
                
                4.Handicrafts and Textiles<br>
                The region's heritage is also evident in its traditional crafts, including pottery, weaving, and textile production. Najran's marketplaces are vibrant with the sale of traditional dresses, woven baskets, and other handicrafts that showcase the skill and creativity of local artisans.
                
                5.Cultural Festivals<br>
                Najran hosts several cultural festivals throughout the year that celebrate its rich history and traditions. These festivals often include traditional music, dance, poetry readings, and other activities that provide insights into the region's cultural heritage.
                
                
                </p>
        </div>
        
</div>

</div>

{%endblock%}