{% extends 'main/base.html' %}

{% block title %}كورتنا مستقبلا{% endblock %}

{% block content %}
<div class="video-container">
    <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/Qiddiya.mp4?alt=media&token=d6c66b7c-864c-472d-8a34-b106bcddbf25" autoplay muted loop></video>
</div>
    <div class="row">   
        <div class="col-md-12 mt-5 d-flex justify-content-center">
            <h1>ايش راح نسوي بالمستقبل</h1>
        </div>
        <div class="col-md-12 mt-5 d-flex justify-content-between">
            <div class="m-4 rounded-1 staduims">
                <h5>تطوير الملاعب السابقة وانشاء مناطق رياضية متعددة</h5>
                <p class="staduims-text">سيتم تجديد بعض الملاعب مثل ملعب الجوهرة بجدة وملعب الملك فهد الدولي،
                    تشمل عمليات التطوير رفع الطاقة الاستيعابية للمدرجات، إزالة المضمار الحالي لتواكب الطرز الحديثة لملاعب كرة القدم العالمية، وإنشاء شاشات تفاعلية وسيتم انشاء ملاعب جديدة مثل ملعب وسط جدة وملعب الامير محمد بن سلمان بالقدية</p>
            </div>
            <div class="m-4 rounded-1 saudi-league">
                <h5>تطوير الدوري السعودي</h5>
                <p class="saudi-league-text">تطوير الدوري السعودي يشهد تقدمًا ملحوظًا، حيث يُعد دوري روشن السعودي أو الدوري السعودي للمحترفين من أغلى المسابقات في قارة آسيا بقيمة سوقية تصل إلى 329 مليون يورو، تشمل خطط التطوير أيضًا تحسين البنية التحتية للأندية، إيجاد رعاة، تطوير الإعلام الإلكتروني، والمحافظة على الحقوق التجارية للأندية. هذه الخطوات تُظهر التزام المملكة بتعزيز مكانتها في عالم كرة القدم وتحقيق مكانة مرموقة في الرياضة العالمية.</p>
            </div>
            <div class="m-4 rounded-1 tech-saudi">
                <h5>تكنلوجيا متقدمة</h5>
                <div class="tech-saudi-text">
                    <ul class="list-unstyled custom-list">
                        <li>الأسقف والملاعب القابلة للسحب: توفر هذه التقنية مرونة في استخدام الملاعب في مختلف الأحوال الجوية</li>
                        <li>جدران LED ضخمة: لخلق تجربة غامرة للجماهير، حيث يمكن عرض الإعلانات والتفاعلات المباشرة مع الجمهور</li>
                        <li>استخدام الذكاء الاصطناعي: لتحسين تجربة المشاهدة والأمان والخدمات داخل الملاعب</li>
                    </ul>
                </div>
            </div>
            <div class="m-4 rounded-1 eco-play">
                <h5>استدامة وصديقة للبيئة</h5>
                <div class="eco-play-text">
                    <ul class="list-unstyled custom-list">
                        <li>استخدام الطاقة المتجددة: تركيب ألواح شمسية لتوليد الطاقة الكهربائية وتقليل الاعتماد على الوقود الأحفوري</li>
                        <li>تحسين كفاءة الطاقة: استخدام تقنيات حديثة للإضاءة والتبريد لتقليل استهلاك الطاقة</li>
                        <li>إدارة المياه: تطبيق نظم لإعادة استخدام المياه وتحليتها للحفاظ على الموارد المائية</li>
                        <li>التصميم البيئي: تصميم الملاعب بطريقة تسمح بالتهوية الطبيعية وتقليل الحاجة للتكييف الصناعي</li>
                        <li>المواد المستدامة: استخدام مواد بناء صديقة للبيئة وقابلة لإعادة التدوير</li>
                    </ul>
                    <p>تأتي هذه الجهود ضمن إطار رؤية السعودية 2030 التي تضع الاستدامة كأحد أهم أهدافها، وتهدف المملكة إلى تحقيق الحياد الكربوني بحلول عام 2060. هذه الخطوات تعكس التزام المملكة بمستقبل أكثر خضرة واستدامة في جميع مجالات التنمية، بما في ذلك البنية التحتية الرياضية.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}