{% extends 'main/base.html' %}

{% block title %}كورتنا الحين{% endblock %}

{% block content %}
    
    <div class="container">
        <h3 class="d-flex justify-content-center mt-5 animate__animated animate__headShake">نجوم الدوري السعودي موسم 2024</h3>

        <div class="row mt-5 fade-in">
            <div class="col-md-12">
              <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/benzima.MP4?alt=media&token=b43d81fe-1fbe-4cad-a585-f9cbe8cbaa7a" autoplay muted loop class="w-100 rounded-5"></video>
            </div>
        </div>

        <div class="row mt-5 fade-in">
          <div class="col-md-12">
            <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/alex.MP4?alt=media&token=7d8b0fe0-24a6-4c77-8e65-57b92c395e2f" autoplay muted loop class="w-100 rounded-5"></video>
          </div>
        </div>

        <div class="row mt-5 fade-in">
            <div class="col-md-12">
              <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/neymar.MP4?alt=media&token=4074213c-9dd2-4f6c-bd1f-cce8a26f8ab9" autoplay muted loop class="w-100 rounded-5"></video>
            </div>
        </div>

        <div class="row mt-5 fade-in">
            <div class="col-md-12">
              <video src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/mahriz.MP4?alt=media&token=c1a0bfdb-e2e8-4632-a427-44895434e93c" autoplay muted loop class="w-100 rounded-5"></video>
            </div>
        </div>
    </div>
    <h3 class="d-flex justify-content-center mt-5 animate__animated animate__headShake"> البطولات المستضافة في الرياض</h3>
    <div class="season-events">
        <div class="row">
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h3 class="mt-5 animate__animated animate__headShake">كأس موسم الرياض</h3>
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/riyadh_season.jpeg?alt=media&token=d5f5c110-f2ea-4edc-b4f4-ecf3a3f4466c" alt="كأس الرياض">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h3 class="mt-5 animate__animated animate__headShake">كأس السوبر الإيطالي</h3>
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/supercoppa.jpg?alt=media&token=7aa3b930-3206-49b5-90ba-99ee20f17615" alt="">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h3 class="mt-5 animate__animated animate__headShake">كأس السوبر الإسباني</h3>
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/spain_supercup.jpg?alt=media&token=06a98560-256b-448d-bd02-b48a749e8242" alt="">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h3 class="mt-5 animate__animated animate__headShake">كأس السوبر المصري</h3>
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/Ahli.webp?alt=media&token=66772aa8-ef09-44db-aef4-aba5f860024c" alt="">
            </div>
        </div>
    </div>
    <h3 class="d-flex justify-content-center mt-5 animate__animated animate__headShake">كأس العالم للأندية بجدة</h3>
    <div class="Jeddah-world-club-cup">
        <div class="row">
            <div class="col-md-4">
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/fifa_world_cup.jpg?alt=media&token=71a8dd72-1c67-4a5e-9354-e81b678a860d" alt="">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/jeddah_cup.png?alt=media&token=98c95978-2672-415b-a594-db7bce655268" alt="">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded-5" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/mancity.webp?alt=media&token=1a7bfcb8-ee75-4f50-ad53-e96a0e2169af" alt="">
            </div>
        </div>
    </div>      
{% endblock %}