{% extends 'main/base.html' %}
{% load static %}
{% block title %}اندية الصندوق{% endblock %}

{% block content %}
<main>
    <div id="club1" class="club-info">
        <div class="row mt-5 d-flex justify-content-center align-items-center itti">
            <div class="col-md-4 d-flex justify-content-center align-items-center club">
                <img class="w-50 club-img" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/ittihad.png?alt=media&token=012052b0-b3e5-46a3-a552-8efafa900e02" alt="لوقو اتحادي">
                <h4>نادي الإتحاد</h4>
            </div>
            <div class="col-md-8">
                <p>نادي الاتحاد هو أحد أبرز الأندية في المملكة العربية السعودية ويقع في مدينة جدة. يتمتع النادي بقاعدة جماهيرية كبيرة وله تاريخ حافل بالإنجازات، بما في ذلك الفوز ببطولات محلية وقارية. لموسم 2024، يضم النادي مجموعة من اللاعبين المميزين من مختلف الجنسيات، ومن بينهم:
    
                    (مارسيلو جروهى - حارس مرمى من البرازيل)
                    (أحمد حجازي - مدافع من مصر)
                    (نجولو كانتي - لاعب وسط من فرنسا)
                    (كريم بنزيما - مهاجم من فرنسا)
                    ويشمل الفريق أيضًا لاعبين محليين موهوبين يساهمون في قوة الفريق وتنوعه الاستراتيجي. يُعرف نادي الاتحاد بملعبه الرئيسي، ملعب مدينة الملك عبد الله الرياضية، ويُلقب بـ “العميد” نظرًا لكونه أحد أقدم الأندية وأكثرها تتويجًا بالبطولات في المنطقة.</p>
                <p> تبلغ القيمة السوقية لنادي الاتحاد السعودي حوالي 100.68 مليون يورو</p>
            </div>
        </div>
    </div>

    <div id="club2" class="club-info" style="display: none;">
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center club">
                <img class="w-50 club-img" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/hilal-removebg-preview.png?alt=media&token=cb0abac2-68ce-4de8-ae5b-3efbed089647" alt="لوقو هلالي">
                <h4>نادي الهلال</h4>
            </div>
            <div class="col-md-8">
                <p>نادي الهلال هو واحد من أعرق الأندية في المملكة العربية السعودية ويتخذ من العاصمة الرياض مقرًا له. يُعرف الهلال بشعبيته الواسعة وجماهيره الكبيرة التي تدعمه في مختلف المنافسات. لموسم 2024، يضم النادي مجموعة من اللاعبين المتميزين، ومنهم:
    
                    (ميشائيل ديلغادو)
                    (روبن نيفيز)
                    (خاليدو كوليبالي)
                    (سيرغي سافيتش)
                    (مالكوم)
                    (نيمار)
                    (ياسين بونو)
                    (ميتروفيتش)
                    يُعرف نادي الهلال بملعبه الشهير، ملعب الملك فهد الدولي، ويُلقب بـ “الزعيم” نظرًا لتاريخه الطويل وإنجازاته العديدة في الدوري السعودي للمحترفين والبطولات القارية. يُعتبر موسم 2024 – 2025 هو الموسم السابع والستين للنادي منذ تأسيسه عام 1957</p>
                <p> تبلغ القيمة السوقية لنادي الهلال السعودي حوالي 242.50 مليون يورو</p>
            </div>
        </div>
    </div>

    <div id="club3" class="club-info" style="display: none;">
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center club">
                <img class="w-50 club-img" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/Al_Nassr.png?alt=media&token=0f6c3ddf-306f-49c8-8985-e808fa0e4d27" alt="لوقو نصراوي">
                <h4>نادي النصر</h4>
            </div>
            <div class="col-md-8">
                <p>:نادي النصر هو أحد الأندية الكبرى في المملكة العربية السعودية ويقع في العاصمة الرياض. يتمتع النادي بشعبية كبيرة ويُعرف بجماهيره الوفية التي تدعمه بقوة. لموسم 2024، يضم النادي تشكيلة مميزة من اللاعبين المحليين والأجانب، ومن بينهم:
                    (دافيد أوسبينا - حارس مرمى كولومبي)
                    (أليكس تيليس - مدافع برازيلي)
                    (إيميريك لابورت - مدافع إسباني)
                    (مارسيلو بروزوفيتش - لاعب وسط كرواتي)
                    (ساديو ماني - مهاجم من الكاميرون)
                    (كريستيانو رونالدو - مهاجم برتغالي)
                    يُعرف نادي النصر بملعبه ملعب الملك فهد الدولي ويُلقب بـ “العالمي” نظرًا لتاريخه الطويل وإنجازاته المتعددة في الدوري السعودي للمحترفين والبطولات القارية. يُعتبر موسم 2024–2025 هو الموسم السابع والستين للنادي منذ تأسيسه</p>
                <p> تبلغ القيمة السوقية لنادي النصر السعودي حوالي 144.03 مليون يورو</p>
            </div>
        </div>
    </div>

    <div id="club4" class="club-info" style="display: none;">
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center club">
                <img class="w-50 club-img" src="https://firebasestorage.googleapis.com/v0/b/unit-2-project-8c87f.appspot.com/o/Al-Ahli.png?alt=media&token=4f3b069d-bfe5-487e-b9c0-92dd519d9d68" alt="لوقو اهلاوي">
                <h4>نادي الأهلي</h4>
            </div>
            <div class="col-md-8">
                <p>نادي الأهلي السعودي هو نادٍ رياضي متعدد الألعاب يقع في مدينة جدة، وهو من أبرز الأندية في المملكة العربية السعودية. يتميز النادي بجماهيرية واسعة وتاريخ حافل بالإنجازات، حيث تأسس في عام 1937.
    
                    لموسم 2024، يضم النادي مجموعة من اللاعبين المحليين والدوليين، ومن بينهم:
                    
                    (إدوارد ميندي - حارس مرمى من السنغال)
                    (إزجان أليوسكي - مدافع من مقدونيا)
                    (روجر إبانيز - مدافع من البرازيل)
                    (ميري ديميرال - مدافع من تركيا)
                    (رياض محرز - لاعب وسط من الجزائر)
                    (ألان سان ماكسيمان - لاعب وسط من فرنسا)
                    (فرانك كيسي - لاعب وسط من كوت ديفوار)
                    (روبيرتو فيرمينو - مهاجم من البرازيل)
                    يُعرف النادي بملعبه ملعب الجوهرة المشعة ويُلقب بـ “الراقي” نظرًا لتاريخه العريق وإنجازاته المتعددة في الدوري السعودي للمحترفين . يُعتبر موسم 2024–2025 هو الموسم السابع والستين للنادي منذ تأسيسه. </p>
                <p> تبلغ القيمة السوقية لنادي الأهلي السعودي حوالي 163.70 مليون يورو</p>
            </div>
        </div>
    </div>

    <div id="navigation-buttons" class="d-flex justify-content-center align-items-center">
        <button class="img-button m-1" onclick="showPreviousClub()"><span class="material-symbols-outlined">arrow_forward</span></button>
        
        <button class="img-button m-1" onclick="showNextClub()"><span class="material-symbols-outlined">arrow_back</span></button>
    </div>
</main>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}


