{% extends 'main/base.html' %}
{% load static %}
{% block title %} Saudi Culture {% endblock %}

{% block content %}
<main>
    <div class="title" dir="rtl">
        <h1>عاصمة الثقافة</h1>
    </div>
    
<!-------------First photo--------------->
<div class = "row">
    <div class="col-md12 d-flex justify-content-center">

<img class="rounded-5" src="{% static 'images/capimg/nayla.webp' %}" alt="Description of the image">
</div>
<div class="col-md12 d-flex justify-content-center">
<div>
<h3>معرض نايلا للفنون</h3>
</div>
<p>رسّخ معرض نايلا وجوده في الساحة الفنية الناشئة في الرياض كأحد أهم الوجهات السياحية، وذلك بفضل احتوائه على مجموعةٍ متنوعةٍ من الأعمال الفنية المحلية والإقليمية مثل أعمال الرسام المصري فاروق حسني، ولوحات أحمد معلا المثقلةِ بالرموز الدرامية والتي تمحو الخطوط الفاصلة بين الواقع والخيال. 

    وحقق المعرض تعاوناً مشهوداً مع أشهر المعاهد الثقافية العالمية، مثل المجلس الثقافي البريطاني ومعهد جوته ومعهد دو موند، إلى جانبِ استقطابه لعددٍ من الفنانين المعاصرين مثل غادة الحسن والتي تجسّد في لوحاتها ومنحوتاتها أبرز الملامح التاريخية، بالإضافة إلى الفنانة الهولندية كارولين هافرز المقيمة في الرياض. ويقدّم المعرض عدداّ من البرامج والمعارض النشطة وورش العمل والندوات الفنيّة.</p>
</div>
</div>
<!-------------First photo--------------->
<div class = "row">
    <div class="col-md12 d-flex justify-content-center">
    <img class="rounded-5" src="{% static 'images/capimg/ibel.webp' %}" alt="Description of the image">
</div>
    <div class="col-md12 d-flex justify-content-center">
    <h3>سوق الإبل</h3>
<p>سيبادرك كبار السن البدو من الباعة في هذا السوق بعلامةِ استنكارٍ واضحة إذا ألمحت بأنك تعيش في عالمٍ لا ترى فيه الإبل! فللإبل في حياتهم دورٌ أساسيٌّ لا مناص عنه، وأثرٌ حاضرٌ وراسخٌ في الثقافة السعودية بحضورها الساحرِ المهيب في أحد أكبر أسواق الإبل في المملكة الذي سيفتح لزوارها بوابةً نحو ماضٍ يكتنفه الجمال والبهاء. سيحثّك باعة السوق البدو والمقيمين في البادية المجاورة على تفحّص أسنان وصوف الحيوانات للتأكد من جودتها وسيحرصون على مزايدتك على السعر.</p>
</div>

</div>

<!-------------second photo--------------->
<div class = "row">
    <div class="col-md12 d-flex justify-content-center">
<img class="rounded-5" src="{% static 'images/capimg/aldawaser.webp' %}" alt="Description of the image">
</div>
<div class="col-md12 d-flex justify-content-center">
<h3>مسجد الدواسر</h3>
<p>أحد أجمل المساجد الشعبية المبنيّة من الطين والخشب في الحي التاريخي في الدرعية، إذ يعدّ جامع الدواسر معلماً خلّاباً بتصميمه النجديّ العريق وممراته المدببة وأعمدته السميكة في ساحته الرئيسية المسقوفة بجذوع النخيل الداكنة. ويستطيع الزوار تسلق السلالم الصغيرة المؤدية إلى حديقة السطح بجانب مئذنة المسجد المربعة، للإطلال على بساتين النخيل الكثيفة المحيطة، والتي ترسم صورة بديعةً محفوفةً بالجمال عن نمط حياةٍ بائدٍ للمجتمع السعودي.</p>
</div>

<!-------------third photo--------------->
<div class = "row">
    <div class="col-md12 d-flex justify-content-center">
<img class="rounded-5" src="{% static 'images/capimg/althomayri.webp' %}" alt="Description of the image">
</div>
<div class="col-md12 d-flex justify-content-center">
<h3>بوابة الثميري</h3>
<p>اُستعرضت بوابة الثميري في كتاب جون فيلبي بعنوان "قلب جزيرة العرب" على خريطة الرياض التي ترجع إلى عام 1922، وهي بوابةٌ طينيةُ التشكيل والبناء تقع على الأطراف الشرقية من الرياض القديمة، وترسم صورةً أخاذةً عن حدود مدينة الرياض الصغيرة في ذلك العصر قبل أن يُكتشف النفط في السعودية.</p>
</div>
</div>
</main>
{% endblock %}
