{% extends 'main/base.html' %}
{% block title %} Saudi Culture {% endblock %}

{% block content %}
    <main>
        <div>
            <div class="wrapper homepage-content">
                <div class="sub-content" dir="rtl"> 
                    <h1>بعض الأنشطة الثقافية في السعودية</h1>
        
                    <p>ثقافة المملكة العربية السعودية تتميز بتنوعها وتعددها، وتأثرها بالتقاليد والقيم الإسلامية والعربية التي تمتزج مع التطورات الحديثة والتغيرات الاجتماعية والثقافية العالمية. إليك بعض الجوانب البارزة للثقافة في السعودية:

                        <ul class="home page">
                            <li> الإسلام: يشكل الإسلام الدين الرئيسي في المملكة ويترسخ بقوة في جميع جوانب الحياة، ويتجلى هذا في الطقوس الدينية والعادات الاجتماعية والتقاليد.
                            </li>
                            <li>اللغة والأدب: اللغة العربية هي اللغة الرسمية والأدب العربي له تأثير كبير في الثقافة السعودية. وتشهد السعودية نهضة في مجال الأدب والثقافة، مع ظهور عدد من الكتّاب والشعراء والمثقفين السعوديين المعروفين على الساحة العربية.
                            </li>
                            <li>الفنون والموسيقى: تشهد المملكة نموًا في مجال الفنون والموسيقى، مع توجه الحكومة نحو دعم الثقافة والفنون وتقديم فرص للفنانين والموسيقيين للتعبير عن أنفسهم.
                            </li>
                            <li>التراث والفلكلور: يحتفظ السعوديون بتراثهم الغني والمتنوع، وتتجلى هذه التراث في الموسيقى التقليدية والرقصات الشعبية والحرف اليدوية والملابس التقليدية.
                            </li>
                            <li>التعليم والعلوم: تولي الحكومة السعودية اهتمامًا كبيرًا بالتعليم والعلوم، مما يعزز الوعي الثقافي والعلمي في المجتمع، وتشهد الجامعات السعودية تطورًا ملحوظًا في الأبحاث والتعليم العالي.
                            </li>
                            <li>السينما والترفيه: شهدت المملكة تطورًا في مجال السينما والترفيه، مع افتتاح دور السينما وتنظيم فعاليات ثقافية وترفيهية، مما يسهم في توسيع آفاق الترفيه وتنويع الثقافة السعودية.                            </li>
                        </ul>

                    </div>
            </div>
        </div>

        <div class="bottom-container">

            <div class="bottom-nav">
                <div class="container">

    
                </div>
             </div>

    </main>
{% endblock %}
