{% extends 'main/base.html' %}
{% load static %}
{% block title %} Saudi Culture {% endblock %}

{% block content %}
    <main>
        <div>
            <div class="wrapper homepage-content">
                <div class="sub-content" dir="rtl"> 
                    <h1>الدين في السعودية: دليل للإسلام</h1>
        
                    <p>الإسلام الذي يمارسه 1.8 مليار مسلم على مستوى العالم، هو ثاني أكبر الأديان في العالم. كلمة مسلم تعني "الخضوع" (لمشيئة الله)، والإسلام مشتق من الكلمة العربية "سلام"، التي تعني السلام. إن مصطلح الإسلام لا يعكس في الواقع الدين فحسب، بل أيضاً أسلوب حياة ومجتمعاً عالمياً (أمة) من المؤمنين المرتبطين معاً بإيمان مشترك بالله وأنبيائه. ويقول إبراهيم موسى، أستاذ الفكر الإسلامي والمجتمعات الإسلامية في جامعة نوتردام في ولاية إنديانا: "من طقوس الصلاة اليومية خمس مرات في اليوم إلى الصيام في رمضان، فإن الحياة الدينية للمسلم مترسخة في دورة على مدار 24 ساعة. هذه الطقوس، والعديد من الالتزامات الأخلاقية الأخرى، هي جزء من حياة المسلم - تمامًا كما رعاية العائلة والأصدقاء والفرح لهم هي جزء من أسلوب الحياة الدينية تلك".</p>
                    <h1>كيف يؤثر الإسلام على الحياة اليومية في السعودية؟</h1>
                        <h2>لا شك أن السياح سيتعرفون على الإسلام خلال فترة وجودهم في المملكة، لأنه جزء من الحياة السعودية. وعلى سبيل المثال، يتم إغلاق العديد من المحلات التجارية عدة مرات في اليوم للسماح بالصلاة. كما أن الكحول ولحم الخنزير والمخدرات محظورة في البلاد.
                        </h2>
                        
                        
                     
                        </h4>
                        <img src="{% static 'images/midena.jpg' %}" alt="Description of the image">
                        <h4>حشود الحجاج يصلون أمام القبة الخضراء في المسجد النبوي في المدينة المنورة بالسعودية</h4>

                        <h1>ما هي أركان الإسلام الخمسة؟
                        </h1>
                        <h4>على الرغم من اختلاف مذاهب الإسلام، فإن كافة المسلمين يؤمنون بأركان الإسلام الخمسة: الشهادة (الإعلان عن الإيمان)، والصلاة (العبادة)، والتي تؤدى خمس مرات يوميًا وتشمل تلاوة أيات من القرآن الكريم، والزكاة (التصدق) أو إعطاء المال أو الطعام للمحتاجين، والصوم (الصيام) مرة واحدة في السنة طوال شهر رمضان، والحج إلى مكة المكرمة.
                        </h4>
                        
                        <h1>هل يمكن لغير المسلمين الذهاب إلى المساجد؟
                        </h1>
                        <h4>يقول موسى: "يمكن للسياح الذهاب إلى المساجد أو حتى مشاهدة الصلاة. ولكن ستكون بحاجة إلى ارتداء الملابس المناسبة". ومن الأفضل التنسيق مع القائمين على المساجد، لإعلامهم بحضور الزوار، ليتمكنوا من توفير الكراسي للمراقبين. والمساجد الوحيدة التي لا تسمح لغير المسلمين بزيارتها، هي تلك الموجودة في مكة المكرمة والمدينة المنورة، أقدس المدن الإسلامية.

                            
                        <img src="{% static 'images/makkah.jpg' %}" alt="Description of the image">
                        <h4>حشود حول الكعبة المشرفة للطواف أثناء الحج</h4>
                        

                        </div>
            </div>
        </div>

        <div class="bottom-container">

            <div class="bottom-nav">
                <div class="container">

    
                </div>
             </div>
    </main>
{% endblock %}
