{% extends 'main/base.html' %}
{% load static %}
{% block title %} Saudi Culture {% endblock %}
<!--<div class = "row">
    <div class="col-md12 d-flex justify-content-center">
        <img class="rounded-5"
        <div class="col-md12 d-flex justify-content-center"></div>-->
{% block content %}
<main>  

<div class="d-flex row g-4" dir="rtl">
    <div class = "row">
            <p>أجواء روحانية، وتقاليد فريدة</p>
        </div>
        <div class="col-md12 d-flex justify-content-center">
               <h1> رمضان في جدة</h1>
               </div>
</div>
<!----------------------------------------------->
<div class = "row">
<div class="col-md12 d-flex justify-content-center">

<div class="d-flex row g-4" dir="rtl">
<p>تعد أيام رمضان موسمًا حيويًا مليئًا بالروحانية، والفعاليات الاجتماعية والأنشطة المتنوعة في جدة، هذه المناسبة السنوية تضفي أجواءً فريدة على جميع الأحياء والمراكز، وإليك قائمة بأفضل تجارب عروس البحر الأحمر في أيام الشهر الفضيل الدافئة.
</p>
</div>
</div>
</div>
<!----------------------------------------------->

<div>
    <img class="rounded-5" src="{% static 'images/ramadanjeddah/ramadan-jeddah.webp' %}" alt="Description of the image">
</div>
    <div class="d-flex row g-4" dir="rtl">
        <h1>التقاليد العريقة وفوانيس البلد
        </h1>
    </div>
<!----------------------------------------------->

    <div class="d-flex row g-4" dir="rtl">
<p>جدة التاريخية منطقة نابضة بالحياة ليلًا ومفتوحة على مدار 24 ساعة، وفي شهر رمضان تنتشر فيها فعاليات وأكشاك تقليدية، تُعرف باسم "البسطات" تحت الرواشن المزخرفة والمشربيات العتيقة، وتباع فيها أكلات رمضانية وألعاب معاصرة وتقليدية عديدة وممتعة، يرتدي البائعون ملابس جدة التقليدية ويتغنون بأغاني من الموروث الشعبي، لتعريف الزوار بالأكل المحلي والطقوس القديمة، وكثير من هؤلاء الباعة يطبخون ويقدمون أطعمتهم في رمضان وحسب، وعلى الرغم من ذلك لديهم عدد لا يحصى من الزبائن الأوفياء، تجولك وسط هذه الأجواء الشعبية وخيارات التسوق تظل تجربة لا تماثلها أي تجربة أخرى في جدة.
</p>
</div>
    </div>
</div>
<!----------------------------------------------->

<div class="d-flex row g-4" dir="rtl">
    <img src="{% static 'images/ramadanjeddah/ramadan-jeddah2.webp' %}" alt="Description of the image">
    <div>
        <h1> الإفطار على الشاطئ</h1>
        <div class="d-flex row g-4" dir="rtl">
<p>اعتاد سكان وزوار جدة الذهاب إلى شواطئها وإطلالاتها البحرية، للإفطار على منظر غروب الشمس ورؤية المدينة في صورتها الأجمل، والاستمتاع بساحات لعب الأطفال والحدائق المحيطة، نقترح ألا تفوت تجربة مثالية وأساسية إذا زرتها يومًا، وإليك أقصر الطُرق إلى هذه المتعة، توجه إلى واجهة جدة البحرية أو أحد شواطئها  أو اختر من سلسلة مطاعمها المقابلة للبحر، إذ تجمع المرتادين لها بكثافة طيلة الشهر.
</p>        
</div>
<!----------------------------------------------->

<div class="d-flex row g-4" dir="rtl">
    <h1>مهرجانات ممتعة سنوية
    </h1> 
        </div>
        <div class="d-flex row g-4" dir="rtl">
            <p>
                شهر رمضان يحث رغبات اجتماعية مدفوعة بأصالة إنسانية للمشاركة والتجمع، حيث تنظم غالبية الجهات والمطاعم عروضًا ودعوات عامة وأمسيات ترفيهية تمتد طيلة الشهر، اطلع على فعاليات مهرجان جدة التاريخية، وسجل بما يناسب نشاطاتك العائلية أو الفردية.
            </p>
            <p>
                كما نستعرض لك بعض البازارات المقامة للمنتجات، والصناعات اليدوية والمحلية في كل المجالات، مثل: بازار ميوز الرمضاني، ومهرجان ليالي جدة الرمضانية في مدينة الطيبات (متحف عبد الرؤوف خليل)، إذ يقدم الفلكلورات والأطعمة الشعبية وخيارات تسوق مختلفة ورائعة.

            </p>
                <h1>
                    نشاطات متفرقة لا تفقد وهجها
                </h1>
                <p>
                    تعطي كل المتاجر والمولات في جدة هالة من البهجة، تبدأ في تزيين المعارض بزينة خاصة برمضان من فوانيس وأهلة ذهبية، وتمتد إلى عروض تسويقية وجوائز ومسابقات تجدها في كل قائمة تسوق تقصدها، للاستفادة القصوى ننصحك بزيارة أبرز مولات المدينة، مثل: العرب  والرد سي والسلام والياسمين وعزيز مول. 

                </p>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
