{% extends 'main/base.html' %}
{% load static %}
{% block title %} Saudi Culture {% endblock %}

{% block content %}
<main>
    <div class = "row">
            <div class="col-md12 d-flex justify-content-center">
            </div>
            <h1>أجواء الشهر الفضيل</h1>
               <h2> رمضان في الرياض</h2>
               <div class="col-md12 d-flex justify-content-center">

            </div>
               </div>
<!--------------------------------->
<div class = "row">
        <div class="col-md12 d-flex justify-content-center">
    <p>حين تزور مدينة الرياض في شهر رمضان، سوف تستقبلك شوارع مزينة بإضاءات وفوانيس، ومساجد مليئة بالمصلين، ورائحة بخور العود، وموائد مطاعم حافلة بمأكولات سعودية تقليدية، فهذا الوقت من العام فرصة حقيقية لاكتشاف الثقافة المحلية السائدة، ومناسبة دينية تحول كل شيء في المدينة لمجموعة من قيم العطاء والتراحم.</p>
    </div>
    <img class="rounded-5" src="{% static 'images/ramadariyadh/ramadan-in-riyadh.jpeg' %}" alt="Description of the image">
    <div class="col-md12 d-flex justify-content-center">

</div>
</div>

    <div class="d-flex row g-4" dir="rtl">
        <h1>عن رمضان</h1>
    </div>
    <div class="d-flex row g-4" dir="rtl">
        <p>شهر رمضان هو الشهر التاسع في التقويم الهجري، وبمجرد ثبوت رؤية هلاله، تنتشر البهجة في أنحاء المدينة، ويتبادل الناس التهاني والتبريكات بمناسبة حلوله، فهو من أفضل الشهور لدى المسلمين، إذ أنزل فيه القرآن على رسول الله محمد -صلى الله عليه وسلم- في ليلة القدر، وهي أعظم لياليه، لما لها من فضل عظيم. وفي رمضان يؤدي المسلمون رابع ركن من أركان الإسلام الخمسة: الصوم، وهو الامتناع عن الأكل والشرب من الفجر حتى الغروب.</p>
    </div>
        <p1>يمتاز شهر رمضان بخصوصية عالية، يبدي فيه المسلمون انضباطًا دينيًا، وإكثارًا من العبادات، مثل: قراءة القرآن، والصدقة، وصلة الرحم، وغيرها.
        </p1></div>
</div>
<div class="d-flex row g-4" dir="rtl">
    <img src="{% static 'images/ramadariyadh/ramadan-in-riyadh2.jpeg' %}" alt="Description of the image">
    <div class="d-flex row g-4" dir="rtl">
        <p>الحياة في رمضان</p>
        <div>
            <p>يتصف نهار رمضان بهدوء نسبي، أما لياليه تكون نابضة بالحياة، فهي أوقات الزيارات العائلية، وارتياد المطاعم، وقضاء الاحتياجات من المجمعات التجارية، إذ يعد السهر حتى منتصف الليل أمرًا اعتياديًا لأغلب السكان في رمضان، فتتغير أوقات عمل المجمعات التجارية، لتشرع أبوابها في فترتين: أولهما من 10:00 صباحًا حتى 05:00 مساءً، وثانيهما من بعد صلاة العشاء حتى 02:00 بعد منتصف الليل، أما المطاعم، فتستعد لاستقبال الزوار قبل أذان المغرب، وتقدم موائد مفتوحة لوجبتي الإفطار والسحور.</p>
        </div>
        <div class="d-flex row g-4" dir="rtl">
            <p> الأسواق في رمضان</p>
        </div>
        <div class="d-flex row g-4" dir="rtl">
            <p>
                إذا كنت ترغب بالاندماج في أجواء رمضانية مميزة، فستجدها في ساحات الأسواق الشعبية وسط العائلات، إذ اعتاد سكان المدينة في رمضان قضاء وقت أكثر مع العائلة، بالاستمتاع بالتنزه والتسوق، مرتدين أزياء تقليدية، فالثوب للرجال، والجلابية للنساء.
            </p>
            <div class="d-flex row g-4" dir="rtl">
                <p>
                    يمكنك الانغماس في أجواء إيمانية في ساحات منطقة الحكم، إذ تصدح مآذن جامع الإمام تركي بن عبدالله بتلاوات قرآنية، يصل صوتها لأسواق شعبية حول المنطقة، مثل: سوق المعيقلية، الذي يعد رمزًا أصيلًا في الثقافة المحلية، ويوفر أجود أنواع بخور العود الطبيعي.
                </p>
                <h1>
                    إضافة للتجارب الاستثنائية التي ستقضيها داخل المجمعات التجارية، مثل: بانوراما مول، والرياض بارك. ومع اقتراب عيد الفطر، تتغير أوقات عمل المجمعات في الأيام العشرة الأواخر من الشهر، لتصبح مفتوحة على مدار اليوم، ما عدا فترة الظهيرة.

                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
