{% extends "base.html" %}
{% load static %}
{% block title %}
  business-economy
{% endblock title %}
{% block content %}
  <section class="row cards-container">
    {% for card in cards %}
      <div class="card border-5">
        <div class="card-top">
          <!-- djlint:off -->
                            <img src="{% static "images/" %}{{ card.image.0 }}" class="card-img-top" alt="...">
          <!-- djlint:on -->
          <h2 class="card-title">{{ card.name }}</h2>
        </div>
        <div class="card-body">
          <div class="card-bref">
            {% autoescape on %}
              {{ card.description | linebreaks }}
            {% endautoescape %}
          </div>
          <div class="btn-more">
            <a href="{{ card.url }}" class="btn btn-primary">المزيد</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}
