{% extends "base.html" %}
{% load static %}
{% block title %}
  Contact Us
{% endblock title %}
{% block email %}
  class="email"
{% endblock email %}
{% block content %}
  <div class="main">
    <div class="contact">
      <h2>اتصل بنا</h2>
      <br>
      <br>
      <br>
      <br>
      <h3>
        هاتف:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="tel:+966 57263883764">57263883764 966+</a>
      </h3>
      <br>
      <h3>
        ايميل:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="mailto:info@tuwaiq.edu.sa">info@tuwaiq.edu.sa</a>
      </h3>
      <br>
      <h3>العنوان:</h3>
      <p>
        جامعة الأمير نورة , الرياض
        <br>
        الشارع الاكاديمي,
        <br>
        المملكة العربية السعودية
      </p>
    </div>
    <div class="map">
      <!-- djlint:off -->
                                                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14905.994755352898!2d46.71221190238342!3d24.849756314871918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efbd2d9c324c7%3A0x9124f530f1b56443!2sTuwaiq%20Academy!5e0!3m2!1sen!2ssa!4v1709587748553!5m2!1sen!2ssa"
                                                                      style="border:0"
                                                                      allowfullscreen=""
                                                                      loading="lazy"
                                                      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- djlint:on -->
  </div>
</div>
{% endblock content %}
