{% extends "base.html" %}
{% load static %}
{% block title %}
    Saudi Science
{% endblock title %}
{% block content %}
    <section id="home" class="row">
        <div class="row title">
            <h1>الأعمال و الإقتصاد السعودي</h1>
        </div>
        <div class="row parg">
            <p>
                تستهدف رؤية السعودية 2030 الوصول إلى مجتمع حيوي واقتصاد مزدهر، من خلال توفير بيئة مناسبة للنمو، واستحداث فرص عمل للمواطنين ، ورعاية المواهب وتنمية الاستثمارات، واغتنام الإمكانات الكبيرة التي يتمتع بها الوطن.
                مكّنت الرؤية شباب الوطن من المشاركة الفاعلة في جميع القطاعات، ورسمت مستقبلًا واعدًا يصنعونه بأيديهم، بعدما أعطت الأولية للمبدعين والموهوبين، ودعمت ثقافة الابتكار والمثابرة، ووفرت فرصًا مميزة للنمو، وعملت على توليد وظائف نوعية، مع استقطاب أفضل الخبرات العالمية.
                وفرت المملكة بيئة تنافسية جاذبة مفتوحة للأعمال، لبناء اقتصاد عالمي رائد، يعزز ريادة الأعمال، ويعيد هيكلة المدن الاقتصادية، ويسهم في إنشاء مناطق خاصة، ويطلق إمكانات سوق الطاقة لجعله أكثر تنافسية، كما تستثمر المملكة من أجل مستقبل مشرق، بإطلاق العنان لقطاعات جديدة واعدة، وتخصيص المزيد من الخدمات الحكومية لتنويع الاقتصاد وضمان استدامته.
            </p>
        </div>
        <div class="row button">
            <a href="{% url "main:properties_page" %}">
                <button>اكتشف</button>
            </a>
        </div>
    </section>
{% endblock content %}
