{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/invest.css" %}">
{% endblock css %}
{% block title %}
الاستراتيجية الوطنية للاستثمار
{% endblock title %}
{% block content %}
  <div class="pages invest">
    <!-- djlint:off -->
      <img src="{% static "images/kafd.png" %}" alt="">
    
    <div class="info">
      <div class="info-text">
        <p>
          تسهم الاستراتيجية الوطنية للاستثمار التي أطلقها صاحب السمو الملكي
          الأمير محمد بن سلمان بن عبدالعزيز ولي العهد ورئيس مجلس الوزراء في دفع
          عجلة التنمية وتنويع الاقتصاد المحلي، حيث تستهدف زيادة مساهمة القطاع
          الخاص في الناتج المحلي الإجمالي، وجذب المزيد من الاستثمارات الأجنبية،
          وزيادة الصادرات غير النفطية، وتقليل البطالة، وتعزيز تصنيف المملكة
          بين أفضل عشرة اقتصادات في مؤشر التنافسية العالمية بحلول عام 2030.
          وتسعى الاستراتيجية الوطنية للاستثمار
          إلى تمكين عدة قطاعات، مثل الصناعة والطاقة المتجددة
          والنقل والخدمات اللوجستية والسياحة والبنية التحتية الرقمية والرعاية الصحية،
          ودعم نموها عبر مصادر تمويل متنوعة، بما في ذلك صندوق الاستثمارات العامة،
          والشركات السعودية الكبرى، من خلال برنامج شريك،
          إضافة إلى تعزيز الاستثمارات المحلية والدولية، والإنفاق الحكومي.
        </p>
      </div>
      <h2>الأهداف</h2>
      
  <div id="mz-gallery-container">

    <div id="mz-gallery">

    <figure>
      <img src="https://www.vision2030.gov.sa/media/ucngucdw/alula-alula-oasis.jpg?width=720&format=webp" alt="Statue of Liberty" width="700" height="700">
      <figcaption>65% مساهمة القطاع الخاص في الناتج المحلي الإجمالي بحلول عام 2030 </figcaption>
      <div></div>
      <div></div>
    
    
    </figure>

    <figure>
      <img src="https://picsum.photos/id/537/700/700" alt="Night Sky" width="700" height="700">
      <figcaption>Night Sky</figcaption>
      <div></div>
      <div></div>
      <div></div>
     
    </figure>

    <figure>
      <img src="https://picsum.photos/id/136/700/700" alt="Ravine Between Rocks" width="700" height="700">
      <figcaption>Ravine Between Rocks</figcaption>
      <div></div>
      <div></div>
      <div></div>
      
    </figure>

    <figure>
      <img src="https://picsum.photos/id/337/700/700" alt="Wheat Farm" width="700" height="700">
      <figcaption>Wheat Farm</figcaption>
      <div></div>
      <div></div>
      <div></div>
    
    </figure>

    <figure>
      <img src="https://picsum.photos/id/737/700/700" alt="City Street" width="700" height="700">
      <figcaption>City Street</figcaption>
      <div></div>
      <div></div>
     
    </figure>

    </div>
     </div> 
    </div>
  </div>
{% endblock content %}
