{% extends "base.html" %}
{% load static %}
{% block title %}
  aramco
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <img class="col mt-4" src="{% static "images/Aramco-launches-Aramco-Trading-Americas.jpg" %}" height="400px" width="100px" alt="">
    </div>
    <div class="row">
      <div class="col">
        <h2>الرؤية</h2>
        <p>تؤمن الشركة بقدرة الطاقة على الارتقاء بحياة البشر والمجتمعات ودفع عجلة التقدم البشري والمحافظة على كوكبنا.</p>
        <p>
          ومع الزيادة المتوقعة في عدد سكان العالم بمقدار بليوني نسمة على مدى السنوات الخمس وعشرين القادمة، ستظهر الحاجة للمزيد من الطاقة من أجل تلبية الطلب المتزايد عليها. وهذه الزيادة ستتطلب تسخير جميع مصادر الطاقة المتوافرة -التقليدية منها والبديلة- لسدّ هذه الحاجة. وعلى الرغم من إحراز تقدم ثابت على صعيد مصادر الطاقة البديلة، إلا أن هذه المصادر لن تتمكن وحدها من تلبية الطلب في المستقبل. وحتى مع تحولنا إلى مستقبل منخفض الانبعاثات، سيستمر الاعتماد على المواد الهيدروكربونية كمصدر للطاقة لتلبية جُلّ الطلب العالمي على الطاقة لفترة طويلة في المستقبل.
        </p>
        <p>
          تلتزم الشركة بدعم
          <button type="button"
                  class="btn btn-secondary"
                  data-bs-toggle="popover"
                  data-bs-placement="top"
                  title="كفاءة استهلاك الطاقة تعني:"
                  data-bs-content="استخدام طاقة أقل لتقديم الخدمة ذاتها، وهي إحدى الإستراتيجيات الرئيسة لخفض انبعاثات الغازات المسببة للاحتباس الحراري الناجمة عن الوقود الأحفوري بأنواعه.">
            كفاءة استهلاك الطاقة
          </button>
          والتصدي للتحدي العالمي المتمثل في الحد من الانبعاثات. وانطلاقًا من مكانة الشركة الرائدة في مجال إنتاج النفط والغاز، فإنها تثق، وبقوة، بأنها مؤهلة للإسهام بفاعلية في إيجاد الحل الشامل لهذه القضية.
        </p>
        <p>
          وقد أثبتت الشركة بالفعل إمكانات التقنية في خفض الانبعاثات الناتجة من كلٍ من المصادر المتحركة والثابتة. كما تعمل الشركة على جمع هذه الانبعاثات وتحويلها إلى منتجات صناعية نافعة وتصنيع أنواع اللقيم مما يسهم في تحفيز النمو الاقتصادي وخلق فرص العمل. وأسهمت هذه الإنجازات - إلى جانب استراتيجيات أخرى - في تمكُّن الشركة من الوصول بانبعاثات ثاني أكسيد الكربون إلى مستوى يُعدُّ من بين أدنى المستويات في قطاع النفط والغاز.
        </p>
        <p>
          وتؤدي أرامكو دورها بشكل استباقي لتوفير منتجات الطاقة بصورة موثوقة ومستدامة بما يمكِّن المجتمعات من اقتناص الفرص التي من شأنها تغيير عالمنا إلى الأفضل.
        </p>
      </div>
      <div class="col">
        <h2> الوجهة </h2>
<p>نحن المستكشفون نتربع في قلب هذه الصناعة عالمياً. ويأتي العمل على اكتشاف آفاق جديدة أو إيجاد حل للمعضلات القادمة في صميم عزمنا على النجاح – وقد مكّننا ذلك بالفعل من بناء واحدة من أهم شركات الطاقة والكيميائيات في العالم.</p>
<p>
ولضمان تحقيق الأداء الأمثل في المستقبل، فإننا نركز على تقديم قيمة أكبر وتعزيز المرونة التنظيمية وتمكين النمو المستمر وإيجاد حلول تقنية قادرة على مواجهة التغيرات المستقبلية.</p>
<p>
وعلى مدى العقد القادم، ستواصل الشركة تنفيذ استثماراتٍ كبيرة في أعمال التنقيب والإنتاج. ومن شأن هذه الاستثمارات الاستراتيجية أن تسهم في ترسيخ مكانتها الرائدة في مجال النفط، والحفاظ على طاقتها الإنتاجية القصوى الثابتة، وتمكينها من تنفيذ برنامج ضخم للتنقيب والإنتاج يركز على مصادر الغاز التقليدية وغير التقليدية.
</p>
<p>كما تسعى الشركة لتنفيذ استراتيجية تهدف إلى تنمية أعمالها غير النفطية وتحقيق تكامل محكم على نطاق أعمال قطاعي التنقيب والإنتاج والتكرير والمعالجة والتسويق. وسيعزز تنويع منتجات الشركة وتكاملها عالميًا من المرونة التي تتمتع بها منظومة أعمالها وتحقيق تدفقات إضافية لعائداتها.</p>
<p>
وستعمل صفقة الاستحواذ على 70% من "سابك" على تسريع وتيرة تنفيذ إستراتيجية نمو قطاع التكرير والمعالجة والتسويق، وتعزيز قطاع الكيميائيات، ما يضعنا على الطريق المثالي لمواصلة مسيرة النمو، وإيجاد القيمة في قطاع البتروكيميائيات، الذي من المتوقع أن يكون  القطاع الأسرع نموًا في الطلب على النفط الخام في السنوات المقبلة.</p>
<p>
وستستمر الشركة في تطبيق مجموعة كبيرة من ممارسات الكفاءة الرأسمالية للمساعدة في خفض التكاليف الرأسمالية وتحسين الإنتاجية بما يدعم مركزها المالي في جميع الخيارات التشغيلية. ومن خلال التركيز على هيكل التكاليف الأساسية، ستحقق أرامكو قدرًا أعلى من الكفاءة والقدرة التنافسية من حيث التكلفة دون المساس بالسلامة أو البيئة.</p>
<p>
وبدءًا بهندسة المشاريع العملاقة وابتكار التقنيات التي تغير قوانين الصناعة، وصولًا إلى إطلاق منتجات جديدة مبتكرة، وسعينا الدؤوب لتحقيق النجاح عن طريق تعظيم الآثار الإيجابية طويلة الأمد لاستغلال مواردنا.
</p></div>
    </div>
  </div>
{% endblock content %}
