{% extends "base.html" %}
{% load static %}
{% block title %}
  التقنية الحيوية
{% endblock title %}
{% block content %}
  <div class="pages">
    <!-- djlint:off -->
    <img src="{% static "images/page-1/labratory.jpg" %}" alt="">
    <!-- djlint:on -->
    <div class="info">
      <div class="info-text">
        <p>
          تعزيزًا لمكانة المملكة كدولة رائدة في قطاع التقنية الحيوية
          ، تجسد الاستراتيجية الوطنية للتقنية الحيوية ذلك
          ، وتتسع آفاقها لتعبّر عن بداية رحلةٍ تحوليةٍ للمملكة وللعالم.
        </p>
        <p>
          تستهدف الاستراتيجية أن تصبح المملكة تجمعاً عالمياً رائداً في مجال التقنية الحيوية،
          إلى جانب تحقيق مستوى عالٍ من الاكتفاء الذاتي وإحداث أثر اجتماعي واقتصادي إيجابي،
          وذلك من خلال تركيز مجهوداتها على أربع توجهات استراتيجية ذات أولوية.
        </p>
      </div>
      <section class="row cards-container">
      {% for item in items %}
      <div class="card border-3">
        <div class="card-top">
        <!-- djlint:off -->
        <img src="{% static "images/page-1/" %}{{item.img }}" class="card-img-top" alt="...">
        <!-- djlint:on -->
        {% autoescape on %}
        <h2 class="card-title">
          {{ item.name | linebreaks }}
        </h2>
        {% endautoescape %}
        </div>
        <div class="card-body">
          <div class="card-bref">
            {% autoescape on %}
            {{ item.description | linebreaks }}
            {% endautoescape %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
    </div>
  </div>
{% endblock content %}
