{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}
  Properties
{% endblock title %}
{% block content %}
  <section class="row cards-container">
    {% for item in properties %}
      <div class="card border-5">
        <div class="card-top">
        <img src="{% static "images/" %}{{ item.image.0 }}" class="card-img-top" alt="...">
        <h2 class="card-title">{{ item.name }}</h2>
        </div>
        <div class="card-body">
          <div class="card-bref">
            {% autoescape on %}
            {{ item.bref | linebreaks }}
            {% endautoescape %}

          </div>
          <div class="btn-more"><a href="{{ item.url }}" class="btn btn-primary">المزيد</a></div>

          
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}
