{% extends 'main/base.html' %}
{% block title %} عام القهوة{% endblock %}
{% load static %}
{% block content%}

<div class="row" >
    <div class="con col col-md-12">
    <div class="logo1">
        <img src="/static/images/Basic.webp" class="logo2">
    </div>
    </div>
</div>

<div class="row" >
    <div class="col-12 ">
<div class="logo12 text-center">
    <h1 class="animate__animated animate__zoomIn">الرؤية</h1>
    <br>
<p class="logo13 animate__animated animate__zoomIn">ترتبط القهوة بالإرث الثقافي للمملكة العربية السعودية، عبر تاريخ حافل بالعادات والتقاليد، وقيم الكرم والضيافة، والحضور الإنساني والجمالي والفني في الأغاني والقصائد واللوحات، حتى أصبحت عنصراً رئيساً في الثقافة والموروث الشعبي السعودي، وعلامةً ثقافيةً تتميز بها المملكة، سواءً من خلال زراعتها، أو طرق تحضيرها وإعدادها وتقديمها للضيوف، ومن منطلق المكانة العالية لهذا الرمز الثقافي والوطني، جاءت تسمية عام 2022م بــ''عام القهوة السعودية''.</p>
   </div>
</div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-4 order-1 order-md-1">
        
           <img src=" https://www.visitsaudi.com/content/dam/no-dynamic-media-folder/manifest-newarticles-batch2/sip-on-this_coffee-qa/sip_this_coffee_qa_card_1.jpg" style="width: 100%; margin-top: 180px;"/>
         </div>
        <div class="col col-md-8 order-2 order-md-2">
          <dive class="about-lav">
         
         <h2>أصل وتاريخ القهوة السعودية</h2>
         
    
     <p>
        
        <p>القهوة هي مشروب شعبي في العالم العربي، وتحتل مكانة خاصة في المملكة العربية السعودية. تشتهر القهوة السعودية بنكهتها الفريدة والمميزة، والتي تعكس تاريخ وثقافة المنطقة.</p>
            
             
            
           <p> تاريخ القهوة في السعودية يعود إلى العصور الوسطى، حيث كانت القهوة تستخدم بشكل رئيسي في الأندلس واليمن. ومع مرور الوقت، انتقلت ثقافة القهوة إلى مناطق أخرى في العالم العربي، بما في ذلك المملكة العربية السعودية.</p>
            
             
            
            <p>يعتقد البعض أن القهوة وصلت إلى المملكة العربية السعودية في القرن السادس عشر الميلادي، عندما قام التجار العثمانيون بتجارة القهوة مع المملكة. وفي ذلك الوقت، كانت مدينة جدة هي المركز الرئيسي لتجارة القهوة في المملكة العربية السعودية.</p>
            
             
            
            <p>  ومع مرور الوقت، انتشرت ثقافة شرب القهوة في المملكة العربية السعودية، وأصبحت مناسبات شرب القهوة جزءًا من التقاليد الاجتماعية. وتختلف طريقة تحضير القهوة في المملكة العربية السعودية عن طرق تحضير القهوة في مناطق أخرى، حيث يتم استخدام مواد مختلفة لتحسين النكهة، مثل الهيل والزعفران والمسمار.</p>
            
             
            
           <p> تعد القهوة السعودية من أفضل أنواع القهوة في العالم، ويتم تصديرها إلى الكثير من الدول الأخرى. وتتميز القهوة السعودية بنكهتها القوية والمميزة، والتي تعكس تاريخ وثقافة المنطقة.</p>
         </div> <!--col 1-->
         </div><!--row 1-->
<hr class="mb-3">
         <div class="row mt-5">
           
            <div class="col-12 col-md-4 order-1 order-md-2 ">
            
               <img src=" https://www.visitsaudi.com/content/dam/no-dynamic-media-folder/manifest-newarticles-batch2/sip-on-this_coffee-qa/sip_this_coffee_qa_card_2.jpg" style="width: 100%; margin-top: 180px;" />
             </div>
            <div class="col col-md-8 order-2 order-md-1">  
                  
         <p> اعتماد القهوة السعودية كمشروب رسمي:</p>
            
             
            
         <p> وفي عام 2013، أعلنت وزارة التجارة والصناعة السعودية عن اعتماد “القهوة السعودية” كمشروب رسمي في المملكة العربية السعودية. ويهدف هذا الإعلان إلى تعزيز القهوة السعودية وتعزيز مكانتها كمشروب وطني.</p>
          
           
          
         <p>ويعكس هذا الإعلان الدور المهم الذي تلعبه القهوة في الثقافة السعودية، ويعزز اعتراف الحكومة بأهمية القهوة في المجتمع السعودي.</p>
          
           
          
         <p> ويعد هذا الاعتماد إشارة إلى جودة وموثوقية القهوة السعودية، ويضيف لمسة من الفخامة والرفاهية للمشروب. ويمكن لمثل هذه الاعتمادات أن تزيد من الإقبال على القهوة السعودية وتحفيز الاستثمار في صناعة القهوة في المملكة.</p>
          
           
          
         <p> بالإضافة إلى ذلك، تعمل الحكومة السعودية على دعم صناعة القهوة المحلية وتشجيع المزارعين على زراعة حبوب القهوة وتحسين جودتها، مما يدفع بصناعة القهوة السعودية للأمام.</p>
          
           
          
         <p>  ومن خلال اعتماد “القهوة السعودية” كمشروب رسمي، فإن الحكومة السعودية تعزز القهوة السعودية كعلامة تجارية وطنية، وتعزز مكانتها على الساحة الدولية.</p>
          
           
          <br>
          <p> أخيرًا:</p>
          
           
          
          <p> في الختام، تعد القهوة السعودية من الثروات الوطنية الهامة في المملكة العربية السعودية، وتشكل جزءًا لا يتجزأ من التراث الثقافي للمنطقة. وبفضل الجودة العالية للقهوة السعودية، فإن الطلب عليها يزداد يومًا بعد يوم. </p>
                <div class="row mt-5">
           
                    <div class=" link col-12 col-md-12 order-1 order-md-2 "> 
            <a href="{% url 'main:type_Basic'%}">تعرف على انواع القهوة السعودية حسب مناطق المملكة</a>
            <br><br><br>
                    </div>
                </div>
        </div> <!--col 2-->
    </div><!--row 2-->
</div>




{% endblock%}