{% extends 'main/base.html' %}
{% load static %}
{% block title %}كلمة الوزير{% endblock %}
{% block contact%}
<style>
    body{
        background-color: rgb(255, 255, 255); 
        background-size: cover;
        width: 100%;
        height: 100%;
    }
</style>
<div class="container">
<div class="row mt-5">
    <div class="col3 col-md-4 order-1 order-md-1 flex-column ">
    
       <img class="lavender-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Prince_Bader_bin_Abdullah_Al_Farhan.jpg " />
     </div>
    <div class="col col-md-8 order-2 order-md-2 justify-content-center flex-column d-flex  ">
      <div class="about-lavf">
     <br>
     <h2 class="animate__animated animate__zoomIn">كلمة سمو وزير الثقافة</h2>

     <br>
    <p>نشعر بكثير من الفخر لامتلاكنا ثقافة عريقة متنوعة، تضرب بجذورها في أعماق هذه الأرض المباركة منذ بدء التاريخ وإلى اليوم، وتأتي القهوة السعودية باعتبارها عنصراً مهماً من عناصر ثقافتنا الغنية، ليس لمجرد كونها مشروباً طيباً يشاركنا في جميع لحظات حياتنا، بل لأنها تمتلك دلالات عميقة على الكرم والضيافة، والتنوع الثقافي، والخصوصية الفريدة للثقافة السعودية.
        فمن عملية زراعتها في جنوب المملكة، إلى حصادها، وتوزيعها، ثم إلى طريقة إعدادها وتحضيرها التي تختلف من منطقة لأخرى، وصولاً إلى طرق تقديمها المتنوعة، تكتسب القهوة السعودية قيمتها الثقافية باعتبارها نشاطاً اجتماعياً بامتياز، يعكس القيم السعودية الأصيلة، وتتجلّى من خلاله خصوصية العلاقة التي تربط السعوديين بقهوتهم المميزة.
        ومن أجل ذلك كله، نتشرف بإعلان تسمية عام 2022م بــ''عام القهوة السعودية''، للاحتفاء بهذا العنصر الثقافي، عبر فعاليات وأنشطة ومبادرات تقام على مدار العام، وبشراكة فاعلة من أفراد المجتمع وكافة الجهات المعنية.
        
        صاحب السمو الأمير بدر بن عبدالله بن فرحان آل سعود
        وزير الثقافة</p>
     </div>
     </div>
     
     </div>
    </div>
{% endblock%}

