{% extends 'main/base.html' %}


{% block content %}
{%  if "language" in request.COOKIES and request.COOKIES.language == "ar" %}

<div class="container-gools">
    <div {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %}class="row m-5 bg-black bg-opacity-25 text-light rounded-4 " {% else %}class="row m-5 bg-white bg-opacity-75 rounded-4 " {% endif %}>
       
        <div class="col-lg-6 col-md-3 main ">
            <iframe class=" border  aling border-2 border-black rounded-5" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/Tf-B0NDcfzM?si=IvHFKoV0P2AfcEra&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
        <div  class="col-lg-6 col-md-3 animation-1 main  p-2">
        </p>
            <h3>القِدّيَّة</h3>
             مشروع ترفيهي رياضي ثقافي سعودي أعلن عنه ولي العهد السعودي رئيس مجلس إدارة صندوق الاستثمارات العامة في 7 أبريل 2017 وجهةً ترفيهيةً واجتماعية نوعية، ووضع حجر الأساس للمشروع خادم الحرمين الشريفين الملك سلمان بن عبد العزيز آل سعود في يوم 28 أبريل 2018 الموافق 12 شعبان 1439 هـ. تختص بتنفيذ أعمال المشروع وتطويره شركة القدية للاستثمار وهي شركة مساهمة مغلقة أُطلِقَت في مايو 2018. حددت شركة القدية خطة تنفيذ أعمال المشروع في جدول زمني يُنَفَّذ على مدى 4 سنوات، تنتهي بالافتتاح الرئيسي في مطلع عام 2030، وأعلنت عن أعمال المرحلة الأولى في يوليو 2019، حيث تضمنت أكثر من 45 مشروع وأكثر من 300 نشاط عبر قطاعات الإبداع والضيافة والترفيه والرياضة منها ملعب القدية.

            وفي7 ديسمبر أطلق الأمير محمد بن سلمان، ولي العهد رئيس مجلس الوزراء رئيس مجلس إدارة شركة القدية للاستثمار، المخطط الحضري لمدينة القدية والعلامة التجارية العالمية لها.وأكد ولي العهد السعودي أن الاستثمار النوعي في مدينة القدية هو أحد مرتكزات "رؤية المملكة 2030"، التي تستهدف تنويع مصادر دخل الاقتصاد المحلي، مشيراً إلى أن المدينة ستصبح في المستقبل القريب الأبرز على مستوى العالم في مجال الترفيه والرياضة والثقافة.
        </div>
        <div  class="col-lg-6 col-md-6 col-sm-3 main animation-4  p-2">
                <br><br>
            <h3>الموقع</h3>
            <p>
                يقع المشروع في منطقة القدية جنوب غرب مدينة الرياض على بعد (40 كم) عن العاصمة السعودية، وتبعد القدية ساعة واحدة من مطار الملك خالد الدولي، وأربعين دقيقة من وسط الرياض. والقدية منطقة تاريخية حيث كان يمر بها طريق الحجاج من الرياض إلى مكة المكرمة والمدينة المنورة قبل ظهور المواصلات الحديثة، وتطل عليها جبال طويق أحد مكونات هضبة نجد، ما يجعلها منطقة جذابة تتفرد بعناصر تراثية وإطلالة صحراوية مميزة.            </p>
            
        </div>
        <div  class="col-lg-6 col-md-12 col-sm-12 main d-flex justify-content-center ">
            <iframe class="align-items-center w-100 rounded-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232170.97131987492!2d46.54347547392258!3d24.60053326938412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f25007ab5ea4f%3A0x40bf1074937e30b6!2z2YXYtNix2YjYuSDZhdiv2YrZhtipINin2YTZgtiv2YrYqQ!5e0!3m2!1sar!2ssa!4v1710377336116!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
        <div  class="col-lg-12 col-md-6 col-sm-3 animation-2 main   p-2">
            <br> 
           <h3>التسمية</h3> 
        <p>تعود تسمية المنطقة إلى طريق أبا القد الذي كان يربط «اليمامة بالحجاز» قديمًا. وكانت المنطقة تضم وادي القدية الذي كان يصب في وادي نمار ثم في وادي حنيفة</p>
        <br>  
        <h3>المساحة</h3>
       <p> يقع المشروع على مساحة 334 كم مربع، كأكبر مدينة ترفيهية في العالم، حيث تتجاوز مساحة ديزني بضعفين ونصف.</p>
            <br>
      <h3>الملكية</h3> 
 <p>تأسست شركة القدية للاستثمار شركةً مساهمةً مقفلة بتاريخ 10 مايو 2018م. وهي إحدى المشاريع الضخمة والمملوكة بالكامل لصندوق الاستثمارات العامة في المملكة بالتعاون مع كبار الشركات العالمية. وسيضم مدينة«6 فلاجز» الترفيهية كأحد عناصر الجذب الرئيسة، وسيكون المشروع أول متنزه ترفيهي يحمل العلامة التجارية لشركة 6 فلاجز في الشرق الأوسط.</p>

<h3>خدمات القدية</h3>
<p>تحمل الخدمات التي يخطط أن يقدمها المشروع من خلال أكثر من 300 من المرافق الترفيهية والتعليمية معايير دولية ستكون عنصر جذب للسياح المحليين والإقليميين والدوليين، حيث يتضمن المشروع مدن ملاهي، ومراكز تجارية وترفيهية، ومرافق رياضية لاستضافة البطولات الدولية، كما سيحتوي على أكاديميات للتدريب وحلبات صحراوية وإسفلتية لهواة سباقات السيارات، وحدات سكنية للتملك وللإيجار، وفنادق ومطاعم.</p>

<h3>أهداف المشروع</h3>
 <p>يسعى المشروع إلى دفع مسيرة الاقتصاد الوطني، وتنويع مصادر الدخل القومي من خلال استعادة 30 مليار دولار ينفقها السعوديون سنوياً على السياحة الخارجية فضلا عن جذب سياح جدد من الخارج، كما يستهدف تطوير قطاع الترفيه وتنمية المناطق الصحراوية مع المحافظة على البيئة الفطرية، وتوفير فرص وظيفية ملائمة في مجالات مبتكرة للمواطنين من الجنسين، حيث من المتوقع أن يساهم المشروع في نمو الاقتصاد السعودي بقيمة اقتصادية تقدر بنحو 17 مليار ريال سنويا، وأن توفر شركة القدية للاستثمار (52) ألف وظيفة للمواطنين من الجنسين.</p>
<h3> مراحل الإنشاء</h3>
<p style="font-size: 13px;"> يكتمل تدشين المشروع عبر ثلاث مراحل ليكون الوجهة الأمثل والأنسب لكل شرائح المجتمع السعودي، والخيار الترفيهي الدولي المميز في المنطقة:
 <br>
 المرحلة الأولى بدأت المرحلة الأولى منذ إطلاق سمو ولي العهد الأمير محمد بن سلمان، فكرة المشروع في 2017، وبدأ التنفيذ في تدشين البنى التحتية وبناء المرافق، وتتضمن المرحلة الأولى تنفيذ أكثر من 45 مشروعا وأكثر من 300 نشاط في قطاعات الإبداع والضيافة والترفيه والرياضة، إضافة إلى تصميم 12 معلمًا من المعالم الرئيسية لواجهة المشروع وبعض المعالم المهمة الأخرى تحت إشراف 20 شركة للهندسة المعمارية، ويعمل على تنفيذ أعمال المرحلة الأولى فريق مكون من 500 محترف من 30 جنسية مختلفة بالتعاون مع شركة «بيارك إنجلز جروب» الدنماركية التي أعلنت عن أن جميع أنظمة النقل الأساسية وأنظمة المرافق والبنية التحتية وشبكات الفضاء المفتوح ستنشئ وفق منظومة المحور الأخضر، وحسب المخطط سيتم افتتاح أعمال المرحلة الأولى في عام 2022م.
 <br>
 المرحلة الثانية تطوير المجمعات الرئيسة، وتوفير نحو 4 آلاف وحدة سكنية، في الفترة ما بين عامي 2023 و2025م.
 <br>
 المرحلة الثالثة نمو واكتمال المشروع العملاق، وشغله بالكامل في الفترة من 2026 إلى 2035م، ومن المنتظر والمتوقع بحلول عام 2030م.   
  </p>  
</div>
    </div>
  
</div>
{% else %}

<div class="container-gools ">
    <div {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %}class="row m-5 bg-black bg-opacity-25 text-light rounded-4 " {% else %}class="row m-5 bg-white bg-opacity-75 rounded-4 " {% endif %}>
        <div class="col-lg-6 col-md-3 English main">
            <iframe class="border align border-2 border-black rounded-5" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/Tf-B0NDcfzM?si=IvHFKoV0P2AfcEra&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-3  animation-1 English main p-2">
            <h3>Al Qiddiya</h3>
            <p>
                Al Qiddiya is a Saudi sports and cultural entertainment project announced by the Saudi Crown Prince, Chairman of the Public Investment Fund, on April 7, 2017. It is an entertainment and social destination. The cornerstone of the project was laid by the Custodian of the Two Holy Mosques, King Salman bin Abdulaziz Al Saud, on April 28, 2018, corresponding to 12 Sha'ban 1439 AH. Al Qiddiya Investment Company is responsible for implementing and developing the project, which is a closed joint-stock company established in May 2018. Al Qiddiya Company has defined a four-year implementation plan for the project, culminating in the grand opening at the beginning of 2030. The company announced the works of the first phase in July 2019, including more than 45 projects and over 300 activities across the sectors of creativity, hospitality, entertainment, and sports, including the Qiddiya Stadium.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 animation-4 English main p-2">
            <br><br>
            <h3>Location</h3>
            <p>
                The project is located in the Qiddiya area southwest of Riyadh, the capital of Saudi Arabia, about 40 km away. Qiddiya is an hour's drive from King Khalid International Airport and forty minutes from downtown Riyadh. Qiddiya was historically a passageway for pilgrims traveling from Riyadh to Mecca and Medina before modern transportation emerged. It is overlooked by the Tuwaiq Mountains, a component of the Najd Plateau, making it an attractive area with distinctive heritage elements and a unique desert view.
            </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 English main d-flex justify-content-center">
            <iframe class="align-items-center w-100 rounded-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232170.97131987492!2d46.54347547392258!3d24.60053326938412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f25007ab5ea4f%3A0x40bf1074937e30b6!2z2YXYtNix2YjYuSDZhdiv2YrZhtipINin2YTZgtiv2YrYqQ!5e0!3m2!1sar!2ssa!4v1710377336116!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-3  animation-2 English main p-2">
            <br>
            <h3>Naming</h3>
            <p>
                The area is named after the Aba Al-Qidd road, which used to connect "Al-Yamama to Al-Hijaz" in ancient times. The region included Wadi Al-Qiddiya, which flowed into Wadi Namr and then into Wadi Hanifa.
            </p>
            <br>
            <h3>Area</h3>
            <p>
                The project is located on an area of 334 square kilometers, making it the largest entertainment city in the world, surpassing Disney by more than double and a half.
            </p>
            <br>
            <h3>Ownership</h3>
            <p>
                Al Qiddiya Investment Company, a closed joint-stock company, was established on May 10, 2018. It is one of the major projects fully owned by the Public Investment Fund in the Kingdom, in collaboration with major international companies. The project will include the "Six Flags" entertainment city as one of the main attractions, and it will be the first entertainment park bearing the Six Flags brand in the Middle East.
            </p>
            <h3>Qiddiya Services</h3>
            <p>
                The services planned to be provided by the project through more than 300 entertainment and educational facilities with international standards will attract local, regional, and international tourists. The project includes amusement cities, commercial and entertainment centers, sports facilities to host international tournaments, as well as academies for training, desert and asphalt racing tracks for car enthusiasts, residential units for ownership and rental, hotels, and restaurants.
            </p>
            <h3>Project Objectives</h3>
            <p>
                The project aims to drive the national economy, diversify national income sources by reclaiming the $30 billion Saudis spend annually on foreign tourism, in addition to attracting new tourists from abroad. It also aims to develop the entertainment sector, enhance desert areas while preserving the natural environment, and provide suitable job opportunities in innovative fields for both genders. The project is expected to contribute to the growth of the Saudi economy by an estimated economic value of around 17 billion riyals annually, providing Al Qiddiya Investment Company with 52,000 jobs for both genders.
            </p>
            <h3>Construction Phases</h3>
            <p style="font-size: 13px;">
                The project will be completed through three phases to be the optimal and most suitable destination for all segments of Saudi society, and the distinctive international entertainment choice in the region:
                <br>
                Phase 1: The first phase began since the launch of the project idea by Crown Prince Mohammed bin Salman in 2017, and the implementation started with the inauguration of infrastructure and facility construction. The first phase includes the implementation of more than 45 projects and over 300 activities in sectors of creativity, hospitality, entertainment, and sports. Additionally, 12 landmarks of the project's main facade and other important landmarks are being designed under the supervision of 20 architectural engineering companies. The first phase is being executed by a team of 500 professionals from 30 different nationalities in cooperation with the Danish company "Bjarke Ingels Group," which announced that all basic transport systems, utilities, infrastructure, and open space networks will be created according to the green axis system. According to the plan, the first phase works are expected to open in 2022.
                <br>
                Phase 2: Developing the main complexes and providing about 4,000 residential units between 2023 and 2025.
                <br>
                Phase 3: Growth and completion of the giant project, fully operational from 2026 to 2035, and it is expected to be completed by 2030.
            </p>
        </div>
        </div>
        </div>
        
    </div>
  
</div>
{% endif %}
{% endblock %}

{% block footer %} {% endblock %} 