{% extends 'main/base.html' %}


{% block content %}
{%  if "language" in request.COOKIES and request.COOKIES.language == "ar" %}

<div class="container-gools animation-2">
    <div {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %}class="row m-5 bg-black bg-opacity-25 text-light rounded-4 " {% else %}class="row m-5 bg-white bg-opacity-75 rounded-4 " {% endif %}>
        <div   class="col-lg-12 col-md-6 col-sm-3 text-center   p-3">
            <h1> رؤية السعودية 2030</h1>

        </div>
        <div class="col-lg-6 col-md-3 main  ">
          <iframe class=" border   border-2 border-black  w-100 h-75 rounded-5"  src="https://www.youtube-nocookie.com/embed/vxHPS1VaJuQ?si=1eiK7D_Qzn2le_Vk&amp;controls=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>       
         </div>
        <div  class="col-lg-6 col-md-3 main  p-2">
            <h1>أهداف رؤية السعودية 2030:</h1>
            <p>
             استهدفت برامج الرؤية تحقيق تحول كبير وملموس في جميع القطاعات، بداية من زيادة الطاقة الاستيعابية لاستقبال ضيوف الرحمن من الحجاج والمعتمرين القادمين إلى المملكة من 8 ملايين إلى 30 مليونًا، مع تحسين رحلة الحاج والمعتمر، مرورًا برفع عدد المواقع الأثرية المسجلة في اليونيسكو إلى الضعف على الأقل للحفاظ على الارث الثقافي وقد تم تحقيق هذا الهدف عام 2021، وصولًا إلى تصنيف 3 مدن سعودية بين أفضل 100 مدينة في العالم من أجل تحسين جودة الحياة وتطوير التخطيط والبناء العمراني. وهدفت إلى رفع إنفاق الأسر على الثقافة والترفيه من 2.9% إلى 6% عبر توفير فعاليات ثقافية وترفيهية متنوعة، وخلق قطاعات جديدة وواعدة يستفيد منها المواطن، مع رفع نسبة ممارسي الرياضة مرة على الاقل أسبوعيًا من 13% إلى 40% مما يسهم في تحسين صحة المواطن وزيادة متوسط العمر ليترفع من 74 إلى 80 عامًا.
             
             واستهدفت برامج الرؤية الارتقاء بمؤشر رأس المال الإجتماعي من المرتبة 26 إلى مرتبة 10 الأمر الذي سينعكس على الاستقرار الاقتصادي، وتخفيض معدل البطالة من 11.6% إلى 7% ، ورفع مساهمة المنشآت الصغيرة والمتوسطة في إجمالي الناتج المحلي من 20% إلى 35%، وزيادة نسبة مشاركة المرأة في سوق العمل من 22% إلى 30%، وقت تم تحقيق وتجاوز هذا الهدف منذ عام 2022، كما وضعت أهداف الرؤية لتنعكس على حجم الاقتصاد الكلي وتساهم في هدفها الرامي إلى انتقاله من المرتبة 19 إلى المراتب الـ 15 الأولى على مستوى العالم.
             
             كما عملت على زيادة نسبة المحتوى المحلي في قطاع النفط والغاز من 40% إلى 75%، ورفع قيمة أصول صندوق الاستثمارات العامة من 600 مليار إلى مايزيد عن 7 تريليونات ريال سعودي، والانتقال من مركز 25 في مؤشر التنافسية العالمي إلى أحد المراكز الـ10 الأولى، في ظل رفع نسبة الاستثمارات الأجنبية المباشرة من إجمالي الناتج المحلي من0.7% إلى 5.7%، والمساهمة بوصول القطاع الخاص في إجمالي الناتج المحلي من 40% إلى 65%.
             
             وتطمح برامج الرؤية إلى تقدم المملكة في ترتيب مؤشر الخدمات اللوجستية من المرتبة 45 إلى 25 عالميًا والأولى إقليميًا، ورفع نسبة الصادرات غير النفطية من 16% إلى 50% على الاقل من إجمالي الناتج المحلي غير النفطي، وكذلك زيادة الإيرادات الحكومية غير النفطية من 163 مليارًا إلى تريليون ريال سنويًا، مما يسهم في تنويع الاقتصاد الوطني، والارتقاء من المركز 80 إلى المركز 20 في مؤشر فعالية الحكومة من خلال تعزيز مبادرات سهولة الوصول إلى الخدمات الحكومية والاستفادة منها، والتحول من المركز 36% إلى المراكز الـ5 الأولى في مؤشر الحكومات الإلكترونية، مع رفع نسبة مدخرات الأسر من إجمالي دخلها من 6% إلى 10% ورفع مساهمة القطاع غير الربحي في إجمالي الناتج المحلي من اقل من 1% إلى 5% مما سيترك أثرًا اجتماعيًا كبيرا على القطاع غير الربحي، ويصل بعدد المتطوعين إلى مليون متطوع سنويًّا بعد كان لايتجاوز 11 ألف متطوع.
            </p>
  
            
        </div>
        <div  class="col-lg-12 col-md-6 col-sm-3 main  p-2">
            <h1>برامج الرؤية:</h1>
            <p>
               
                هي منظومة برامج مترابطة تمثل خطة السير لتحقيق الرؤية تحت مراقبة مجلس الشؤون الاقتصادية والتنمية وباتباع الحوكمة وتفعيل أساليب متابعة المبادرات وتنفيذها، تتواصل البرامج مع الجهات الحكومية بشكل مستمر، ويوجد 11 برنامجًا لتحقيق رؤية السعودية 2030 وهي:
                <br><br>

               <h3> برنامج التحول الوطني</h3>
                المقالة الرئيسية: <a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%A7%D9%84%D8%AA%D8%AD%D9%88%D9%84_%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A">برنامج التحول الوطني</a>
                أطلق البرنامج عام 2016 وتخدم أهدافه تطوير القطاع الحكومي والخاص وغير الربحي، يعمل البرنامج على 34 هدفًا استراتيجيًا في مختلف القطاعات، ويُعنى بتطوير البنى التحتية مثل: محطات تحلية المياة، والتحول الرقمي، وربط الجهات لضمان استفادة المواطنين من الخدمات الحكومية بشكل سريع وسهل، ويستهدف البرنامج أيضًا تمكين المرأة في سوق العمل وحماية البيئة من الأخطار.
                <br><br>
                <h3>برنامج الاستدامة المالية</h3>
                المقالة الرئيسية: <a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%AA%D8%AD%D9%82%D9%8A%D9%82_%D8%A7%D9%84%D8%AA%D9%88%D8%A7%D8%B2%D9%86_%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A"> برنامج تحقيق التوازن المالي</a>
                أطلق برنامج الاستدامة المالية (برنامج تحقيق التوازن المالي سابقًا) في نهاية 2016، ويعنى البرنامج بالتخطيط المالي المتوسط المدى للدولة وتطوير المالية العامة. أسهم البرنامج في تقليل نسبة العجز من الناتج المحلي الإجمالي من 15.8% في عام 2015 إلى 4.5% في 2019 وتعزيز الإيرادات غير النفطية.
                <br><br>

                <h3>برنامج صندوق الاستثمارات العامة</h3>
                المقالة الرئيسية:<a href="https://ar.wikipedia.org/wiki/%D8%B5%D9%86%D8%AF%D9%88%D9%82_%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AB%D9%85%D8%A7%D8%B1%D8%A7%D8%AA_%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D8%A9">صندوق الاستثمارات العامة</a>
                أُطلق في الربع الأخير من 2017، ويعمل البرنامج على تطوير الصندوق السيادي للسعودية الذي تأسس عام 1971، وللبرنامج 4 أهداف استراتيجية تنصب في جعل الصندوق من أكبر الصناديق العالمية عبر تعظيم أصوله وإنشاء قطاعات جديدة في السعودية لتنويع الاقتصاد.
                <br><br>
                <h3>برنامج الإسكان</h3>
                المقالة الرئيسية:<a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%A7%D9%84%D8%A5%D8%B3%D9%83%D8%A7%D9%86_%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A">برنامج الإسكان السعودي</a> 
                أطلق البرنامج في 2017، ويعمل على الربط بين المستفيدين المستحقين وصندوق التنمية العقاري الذي أُسس عام 1974 لدعم حصولهم على السكن، لبرنامج الإسكان هدف استراتيجي واحد وهو إتاحة تملك السكن الملائم للأسر السعودية. وأسهم البرنامج في رفع نسبة التملك لتصل إلى 62%.
                <br><br>
               <h3> برنامج تطوير القطاع المالي</h3>
               المقالة الرئيسية:<a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%AA%D8%B7%D9%88%D9%8A%D8%B1_%D8%A7%D9%84%D9%82%D8%B7%D8%A7%D8%B9_%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A">برنامج تطوير القطاع المالي</a>
                أطلق في عام 2017، ويعمل على تطوير المؤسسات المالية وتنويع مصادر الدخل وتمكين القطاع الخاص من خلال الاستثمار والتمويل، وللبرنامج 3 أهداف استراتيجية تعنى بتطوير قطاعات البنوك والتأمين وسوق الأسهم السعودية وأدوات الدين. كما يعمل البرنامج على تمكين الافراد عبر تعزيز الادخار والتخطيط المالي.
                <br><br>
               <h3> برنامج خدمة ضيوف الرحمن</h3>
               المقالة الرئيسية:<a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%AE%D8%AF%D9%85%D8%A9_%D8%B6%D9%8A%D9%88%D9%81_%D8%A7%D9%84%D8%B1%D8%AD%D9%85%D9%86"> برنامج خدمة ضيوف الرحمن</a> 
                أطلق برنامح خدمة ضيوف الرحمن في 2019، لإتاحة الفرصة لأكبر عدد من المسلمين لأداء فريضتي الحج والعمرة. يستهدف البرنامج 30 مليون معتمبر ويعمل على تهيئة الحرمين الشريفين لتسهيل رحلة الحج والعمرة. للبرنامج 3 أهداف استراتيجية تكمن في إثراء التجربة الدينية والثقافية للحجاج والمعتمرين وتيسير استضافتهم وتقديم خدمات عالية الجودة.
                <br><br>
                <h3>برنامج جودة الحياة</h3>
              المقالة الرئيسية: <a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%AC%D9%88%D8%AF%D8%A9_%D8%A7%D9%84%D8%AD%D9%8A%D8%A7%D8%A9">  برنامج جودة الحياة</a>
                أطلق البرنامج في 2018، ويقوم برفع مقومات جودة الحياة في السعودية للمواطنين والمقيمين والزائرين، وللبرنامج 10 أهداف استراتيجية تخدم القطاعات الترفيهية والثقافية والرياضية والسياحية وغيرها، ومن مستهدفات البرنامج وصول 3 مدن سعودية لقائمة أفضل 100 مدينة ملائمة للعيش.
                <br><br>
               <h3> برنامج التخصيص</h3>
               المقالة الرئيسية:<a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%A7%D9%84%D8%AA%D8%AE%D8%B5%D9%8A%D8%B5"> برنامج التخصيص</a>
                أطلق برنامج التخصيص عام 2019، ويقوم البرنامج بإشراك القطاع الخاص في التنمية من خلال تقديم الأصول الحكومية له، مما يسهم في جذب الاستثمارات، وتنويع مصادر الدخل، وتحسين ميزان المدفوعات، ورفع جودة الخدمات الحكومية. وللبرنامج هدفات استراتيجيان هما تحرير أصول الدولة للقطاع الخاص وتخصيص خدمات حكومية محددة.
                <br><br>
                <h3>برنامج تطوير الصناعة الوطنية والخدمات اللوجستية</h3>
               المقالة الرئيسية: <a href="https://ar.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC_%D8%AA%D8%B7%D9%88%D9%8A%D8%B1_%D8%A7%D9%84%D8%B5%D9%86%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A%D8%A9_%D9%88%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA_%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9"> برنامج تطوير الصناعة الوطنية والخدمات اللوجستية</a>
                أطلق البرنامج مطلع عام 2019، ولديه 12 هدفًا استراتيجيًا. تنصب أهداف البرنامج في استغلال الموقع الاستراتيجي للسعودية وجعلها قوة صناعية عالمية، وتتمركز مبادرات البرنامج في أربعة قطاعات رئيسية وهي: الطاقة والتعدين والصناعة والخدمات اللوجستية. يسهم البرنامج في تطوير الصناعات المحلية وفي خلق بيئة استثمارية جاذبة.
                <br><br>
                <h3>برنامج تنمية القدرات البشرية</h3>
                أطلق البرنامج عام 2021، للبنامج 16 هدفًا استراتيجيًا، ويدعم رحلة التعليم من الطفولة المبكرة، واكتساب المتلقي مهارات تمكنه من ان يكون منافس عالميًا، بالإضافة إلى غرس القيم الإيجابية لدى السمتفيدين، ويهدف لأن تكون عملية التعليم مستمرة ومتاحة للجميع مدى حياتهم.
            
            </p>
            
            
        </div>
    </div>
  
</div>
{% else %}

<div class="container-gools animation-2 English">
    <div {% if "mode" in request.COOKIES and request.COOKIES.mode == "dark" %}class="row m-5 bg-black bg-opacity-25 text-light rounded-4 " {% else %}class="row m-5 bg-white bg-opacity-75 rounded-4 " {% endif %}>
        <div   class="col-lg-12 col-md-6 col-sm-3 text-center  p-3">
            <h1>Saudi Vision 2030</h1>

        </div>
        <div class="col-lg-6 col-md-3 main  ">
            <!-- <h1>what</h1> -->
            <iframe class=" border  aling border-2 border-black rounded-5" width="100%" height="60%" src="https://www.youtube-nocookie.com/embed/vxHPS1VaJuQ?si=1eiK7D_Qzn2le_Vk&amp;controls=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>       
           </div>
        <div  class="col-lg-6 col-md-3 English main  p-2">
            <h1>Saudi Vision 2030 Goals:</h1>
            <p>
                The vision programs aimed to achieve significant and tangible transformation across all sectors. Starting from increasing the capacity to accommodate the guests of the Merciful, from 8 million to 30 million pilgrims and visitors coming to the Kingdom, while improving the Hajj and Umrah journey. This includes raising the number of registered UNESCO heritage sites to at least double to preserve cultural heritage, a goal achieved in 2021, and getting 3 Saudi cities ranked among the top 100 cities globally to enhance quality of life and urban planning. The vision also aimed to raise household spending on culture and entertainment from 2.9% to 6% by providing diverse cultural and entertainment activities, creating new promising sectors for citizens, and increasing the percentage of individuals practicing sports at least once a week from 13% to 40%, contributing to improving citizens' health and increasing life expectancy from 74 to 80 years.
            
                The vision programs also aimed to improve the Social Capital Index from rank 26 to rank 10, which will reflect on economic stability, reduce the unemployment rate from 11.6% to 7%, increase the contribution of small and medium enterprises to the GDP from 20% to 35%, increase women's participation in the workforce from 22% to 30%, a goal achieved and surpassed since 2022. The vision's goals were set to reflect on the overall economy and contribute to its goal of moving from rank 19 to the top 15 globally.
            
                It also aimed to increase the percentage of local content in the oil and gas sector from 40% to 75%, raise the value of assets of the Public Investment Fund from 600 billion to over 7 trillion Saudi riyals, move from rank 25 in the Global Competitiveness Index to the top 10, while increasing the percentage of foreign direct investment from GDP from 0.7% to 5.7%, and contribute to the private sector's contribution to GDP from 40% to 65%.
            
                The vision programs aspire to advance the Kingdom's ranking in the Logistics Services Index from rank 45 to 25 globally and first regionally, increase the non-oil exports' percentage from 16% to at least 50% of non-oil GDP, as well as increase non-oil government revenues from 163 billion to a trillion riyals annually, contributing to economic diversification and moving from rank 80 to rank 20 in the Government Efficiency Index by enhancing initiatives for easy access to and utilization of government services, and moving from rank 36% to the top 5 ranks in the E-Government Index, while increasing households' savings as a percentage of their total income from 6% to 10%, and increasing the contribution of the non-profit sector to GDP from less than 1% to 5%, which will have a significant social impact on the non-profit sector, and increasing the number of volunteers to a million annually, up from just over 11 thousand volunteers.
            </p>
            
            
        </div>
        <div  class="col-lg-12 col-md-6 col-sm-3 English main  p-2">
            <h1>Vision Programs:</h1>
            <p>
                Vision Programs are an interconnected system of programs representing the roadmap for achieving the vision under the supervision of the Council of Economic and Development Affairs and following governance and activation methods for monitoring and implementing initiatives. The programs are continuously connected with government entities. There are 11 programs to achieve Saudi Vision 2030, which are:
            
                <br><br>
            
                <h3>National Transformation Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/National_Transformation_Program_(Saudi_Arabia)">National Transformation Program</a>
                Launched in 2016, the program serves to develop the government, private, and non-profit sectors. It works on 34 strategic objectives across various sectors, focusing on developing infrastructure such as water desalination plants, digital transformation, and connecting entities to ensure citizens benefit from government services quickly and easily. The program also aims to empower women in the workforce and protect the environment from hazards.
                <br><br>
                <h3>Financial Sustainability Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Saudi_Vision_2030#Financial_Sustainability_Program">Financial Sustainability Program</a>
                The Financial Sustainability Program (formerly the Fiscal Balance Program) was launched at the end of 2016. The program focuses on medium-term financial planning for the state and developing public finance. It contributed to reducing the deficit-to-GDP ratio from 15.8% in 2015 to 4.5% in 2019 and enhancing non-oil revenues.
                <br><br>
            
                <h3>Public Investment Fund Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Public_Investment_Fund_of_Saudi_Arabia">Public Investment Fund</a>
                Launched in the fourth quarter of 2017, the program works on developing Saudi Arabia's sovereign wealth fund, established in 1971. The program has four strategic objectives aimed at making the fund one of the largest global funds by maximizing its assets and establishing new sectors in Saudi Arabia to diversify the economy.
                <br><br>
                <h3>Housing Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Saudi_Housing_Program">Saudi Housing Program</a>
                Launched in 2017, the program aims to link eligible beneficiaries with the Real Estate Development Fund established in 1974 to support them in obtaining housing. The strategic goal of the housing program is to enable Saudi families to own suitable housing. The program contributed to increasing the ownership rate to 62%.
                <br><br>
                <h3>Financial Sector Development Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Financial_Sector_Development_Program">Financial Sector Development Program</a>
                Launched in 2017, the program focuses on developing financial institutions, diversifying income sources, and empowering the private sector through investment and financing. The program has three strategic objectives concerning the development of banking, insurance, the Saudi stock market, and debt instruments. The program also works on empowering individuals through enhancing savings and financial planning.
                <br><br>
                <h3>Guests of the Merciful Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Guests_of_the_Merciful_Program">Guests of the Merciful Program</a>
                The Guests of the Merciful Program was launched in 2019 to provide the opportunity for the largest number of Muslims to perform the Hajj and Umrah pilgrimage. The program targets 30 million pilgrims and works on preparing the holy sites to facilitate the Hajj and Umrah journey. The program has three strategic objectives aimed at enriching the religious and cultural experience of pilgrims and providing them with high-quality services.
                <br><br>
                <h3>Quality of Life Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Quality_of_Life_Program_(Saudi_Arabia)">Quality of Life Program</a>
                Launched in 2018, the program aims to enhance the quality of life in Saudi Arabia for citizens, residents, and visitors. The program has ten strategic objectives serving entertainment, cultural, sports, tourism, and other sectors. One of the program's targets is to have three Saudi cities listed among the top 100 cities suitable for living.
                <br><br>
                <h3>Privatization Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/Privatization_Program_(Saudi_Arabia)">Privatization Program</a>
                The Privatization Program was launched in 2019 to engage the private sector in development by offering government assets. This contributes to attracting investments, diversifying income sources, improving the balance of payments, and enhancing the quality of government services. The program has two strategic goals: liberating state assets for the private sector and privatizing specific government services.
                <br><br>
                <h3>National Industrial Development and Logistics Program</h3>
                Main article: <a href="https://en.wikipedia.org/wiki/National_Industrial_Development_and_Logistics_Program">National Industrial Development and Logistics Program</a>
                The program was launched at the beginning of 2019 and has 12 strategic objectives. The program aims to leverage Saudi Arabia's strategic location and make it a global industrial force. The program's initiatives focus on four main sectors: energy, mining, industry, and logistics services. The program contributes to developing local industries and creating an attractive investment environment.
                <br><br>
                <h3>Human Capability Development Program</h3>
                The program was launched in 2021 with 16 strategic objectives. It supports the education journey from early childhood, equipping learners with skills to compete globally, as well as instilling positive values. The program aims for continuous and accessible education for everyone throughout their lives.
            </p>


            
            
        </div>
    </div>
  
</div>
{% endif %}
{% endblock %}

{% block footer %} {% endblock %} 