{% extends 'main/base.html'%}
{% load static %}

{% block title %} Heritage {% endblock %}

{% block styles %}
<style>
    body{
        background:rgb(168, 135, 94);
    }
</style>

{% if request.COOKIES.DarkMode == "True" %}
<style>
    body{
        background:rgb(0, 1, 59);
    }
</style>
{% endif %}
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1 style="color: aliceblue; display: flex; justify-content: center; font-family:Georgia, 'Times New Roman', Times, serif;">HERITAGES</h1>
    <div class="row p-4 mt-5">
        <div class="col-12 col-md-7 order-2 order-md-2">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                <h1 style="padding: 10px 0; background-color: rgb(102, 31, 168); color: aliceblue; display: flex; justify-content: center;">Antiquities</h1>
                <p style="color: aliceblue;">The fixed, movable, buried or sunken objects within the Kingdom’s land and maritime borders, that were built, produced, adapted, or painted by humans and which formed archaeological characteristics due to human intervention through the ages, even if their history dates to a recent period, although not less than 100 years. The Heritage Commission deems these items as antiquities, classifying them as antiquities of historical sites and traditional heritage sites and objects.
                    <ul>
                        <li style="color: aliceblue;"><strong>Specialist:</strong> A person who holds a specialized degree in antiquities, heritage, or any other related field, from a college or institute, and is a professional practitioner.</li>
                        
                        <li style="color: aliceblue;"><strong>Researcher:</strong> A person who works and specializes in fields related to antiquities or urban heritage.</li>
                        
                        <li style="color: aliceblue;"><strong>Amateur:</strong> A person who practices archaeological activities without a specialized degree.</li>
                        
                        <li style="color: aliceblue;"><strong>Aficionado:</strong> A person with keen interest in archeology and tangible heritage, who keeps up with studies, research and news related to the field.</li>
                        
                        <li style="color: aliceblue;"><strong>Student:</strong> A person currently pursuing studies in archaeology, antiquities, heritage, or any other related field, and who has a genuine interest and desire to work in the same field in the future. </li>
                    </ul>
                </p>
            </div>
        </div>
    
        <div class="col col-md-5 order-1 order-md-1">
            <img class=" w-10 rounded-5 hero-image" src="{% static 'images/آثار.jpeg' %}" />
        </div>
    </div> <!-- row 1-->

    <div class="row p-4 mt-4">
        <div class="col-12 col-md-7 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                <h1 style="padding: 10px 0; background-color: rgb(136, 0, 68); color: aliceblue; display: flex; justify-content: center;">Urban Heritage</h1>
                <p style="color: aliceblue;">All cities, villages, neighborhoods, buildings, facilities, with architectural, historical, scientific, cultural or national value.
                    <ul>
                        <li style="color: aliceblue;"><strong>Professional:</strong> A person who holds a specialized degree in architecture or heritage from a college or institute and practices a profession related to urban heritage.</li>
                        <li style="color: aliceblue;"><strong>Amateur:</strong> A person who practices activities related to urban heritage without a specialized degree.</li>
                        <li style="color: aliceblue;"><strong>Aficionado:</strong> A person with keen interest in urban and tangible heritage, who keeps up with studies, research and news related to the field.</li>
                        <li style="color: aliceblue;"><strong>Student:</strong> A person pursuing studies in the field of architecture, heritage, or any other related field, and who has a genuine interest and desire to work in the same field in the future.</li>
                    </ul>
                </p>
            </div>
        </div>
    
        <div class="col col-md-5 order-1 order-md-2">
            <img class=" w-10 rounded-5 hero-image" src="{% static 'images/Urban.jpg' %}" />
        </div>
    </div> <!-- row 2-->
    
    <div class="row p-4 mt-4">
        <div class="col-12 col-md-7 order-2 order-md-2">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                <h1 style="padding: 10px 0; background-color: rgb(226, 101, 43); color: aliceblue; display: flex; justify-content: center;">Handicrafts</h1>
                <p style="color: aliceblue;">Traditional handicrafts refer to items that are handmade or involve using simple handheld tools rather than modern machinery. These items are usually made from local natural materials using traditional methods. The work of craftspeople relies on their individual skills developed through practice and training. These handicrafts have cultural value, show unique creativity and are often sustainable creations.
                    <ul>
                        <li style="color: aliceblue;"><strong>Specialist:</strong> A skilled craftsman with broad experience, competence and distinction in designing and producing high quality traditional handicrafts that are often sustainable and made from natural materials. Generally, a professional craftsperson holds an accredited certificate from an institute or college of applied arts, has practical experience of more than five years, and is a practicing professional in the field of tangible and intangible heritage.</li>
                        <li style="color: aliceblue;"><strong>Handicrafts researcher:</strong> A person interested in preparing studies, conducting research, documenting and authoring books and articles in the field of handicrafts.</li>
                        <li style="color: aliceblue;"><strong>Amateur:</strong> A person who practices handicrafts and is interested in designing and making traditional handmade products of cultural value. The person might also be interested in buying and/or marketing handicrafts, but does not hold a specialized certificate, and has less than five years of experience.</li>
                        <li style="color: aliceblue;"><strong>Aficionado:</strong> A person who admires traditional handmade crafts and keeps up to date with developments in the field, or is a collector of traditional handcrafts.</li>
                        <li style="color: aliceblue;"><strong>Student:</strong> A person pursuing studies in the field of handicrafts, heritage or any other related field, who has a genuine interest and desire to work in the heritage sector in the future.</li>
                    </ul>
                </p>
            </div>
        </div>
    
        <div class="col col-md-5 order-1 order-md-1">
            <img class=" w-10 rounded-5 hero-image" src="{% static 'images/Handi.jpg' %}" />
        </div>
    </div> <!-- row 3-->

    <div class="row p-4 mt-4">
        <div class="col-12 col-md-7 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                <h1 style="padding: 10px 0; background-color: rgb(13, 167, 77); color: aliceblue; display: flex; justify-content: center;">Intangible Cultural Heritage</h1>
                <p style="color: aliceblue;">The practices, traditions, forms of expression, knowledge and skills inherited from our ancestors such as oral traditions, performing arts, social practices, rituals and ceremonies, and skills associated with the production of traditional crafts.
                    <ul>
                        <li style="color: aliceblue;"><strong>Professional:</strong> A person who holds a specialized degree in the field of heritage from a college or institute and who currently works in a specialism related to intangible heritage.</li>
                        <li style="color: aliceblue;"><strong>Amateur:</strong> A person who practices a heritage-related activity without a specialized degree or certificate.</li>
                        <li style="color: aliceblue;"><strong>Aficionado:</strong> A person interested in the field of intangible heritage who keeps up with studies, research and news related to the field.</li>
                        <li style="color: aliceblue;"><strong>Student:</strong> A person pursuing studies in the field of heritage, or any other related field, with a genuine interest in the cultural heritage sector and a desire to work in the field in the future.</li>
                    </ul>
                </p>
            </div>
        </div>
    
        <div class="col col-md-5 order-1 order-md-2">
            <img class=" w-10 rounded-5 hero-image" src="{% static 'images/Cultural.jpg' %}" />
        </div>
    </div> <!-- row 4-->
</div>

<footer class="text-dark pt-4 pb-2" style="background-color: bisque;">
    <div class="container text-center ">
        <hr class="mb-4">
          <div class="row d-flex justify-content-center">
            <div class="text-center">
              <div>
                <p>
                Copyright © 2024. Designed By 
                <strong>Nawal Alrashed</strong>
              </p>
              </div>
            </div>
          </div> <!-- row -->
    </div> <!-- container -->
  </footer>
{% endblock %}
