{% extends 'App/base.html' %}
{% load static %}
{%block title%} Conclusion {%endblock%}
{% block video %}{%endblock%}

{% block content %}


 
<video src="{% static 'images/dayflag.mp4' %}" class="!pointer-events-none absolute inset-0 object-contain w-screen min-w-screen h-screen min-h-screen m-0 p-0" loop="" autoplay="" muted="" playsinline="">
    >

</video>


 
<video src="{% static 'images/rere.mp4' %}" class="!pointer-events-none absolute inset-0 object-contain w-screen min-w-screen h-screen min-h-screen m-0 p-0" loop="" autoplay="" muted="" playsinline="">

</video>





{% endblock %}