{% extends 'App/base.html' %}
{% load static %}
{%block title%} Saudi {%endblock%}
{% block content %}
   
    
       



<div class="content">
    <h2>يوم العَلَم.. 300 عام من الوحدة والحق تحت راية واحدة
    <br>
             هو اليوم الذي اقرا فيه الملك عبدالعزيزطيب الله ثراه
          العلم بشكله الذي نراه اليوم</h2>
    </div>
    <button> هنا</button>




    <div class="carousel-item active">
      <img src="{% static 'images/j;.png' %}" class="d-block w-20" alt="...">
  
      <h2>
         <br> ســـارعي للمجــد والعليـــــاء مجــــدي لخــــالق الســـــماء
  
        <br> وارفعـــي الخفـــاق أخــضــــر يحمـــل النــــــور المســـــطر
  <br>رددي الله أكـبـــــــــــــــــــــر يــــــــــــــا مــــــــــــوطــنـي
  موطني عشت فخر المسلمين<br>
  عـاش الملـك .. للعلـم والوطـن
      </h2>







 <section class="home">  
   <div>
    <h1>العلم السعودي</h1>
    
<p> يتميز عَلَم السعودية بالشهادتَيْن المدونتَيْن عليه، كما يتميز بلونه الأخضر الزاهي؛ ليختلف كل الاختلاف عن أمثاله من أعلام الدول العربية والإسلامية.

    وظل العَلَم السعودي على مدار 3 قرون مضت شامخًا شاهدًا على تاريخ السعودية العريق الشامخ، الذي تقدمت فيه نحو التطور المشهود حاليًا بوتيرة سريعة مميزة.</p>         
   </div>
    <div class="home-img">
       <img src="{% static 'images/flag.png' %}" class="ims">
    </div>
 </section>   

 <section class="home row">  

    <h1>مراحل تطوير العلم</h1>
           
   
   <div  class="list col-6">
      <img src="{% static 'images/hhh.jpeg' %}" class="ims">

    <li>
        في المرحلة الأولى كان العَلَم السعودي مربعًا، تتوسطه عبارة (لا إله إلا الله محمد رسول الله)، ولونه أخضر وأبيض مما يلي السارية.
    </li>
    <li>أما المرحلة الثانية فكان فيها أبيض مما يلي السارية، وكان لونه أخضر، وكان مربع الشكل، تتوسطه عبارة (لا إله إلا الله محمد رسول الله)، ويعلوه سيفان عموديان متقاطعان.</li>
    <li>  وفي المرحلة الثالثة كان أبيض مما يلي السارية، وكان لونه أخضر، وكان مربعًا، ويضم سيفًا واحدًا أفقيًّا فوقه الشهادتان.</li>
    <li>أما المرحلة الرابعة فكان فيها الشكل الذي عليه عَلَم السعودية الآن، وهو مستطيل، وعرضه يساوي ثلثَي طوله، ولونه أخضر، ويمتد من السارية إلى نهاية العَلَم، وتتوسطه الشهادتان (لا إله إلا الله محمد رسول الله)، وسيف مسلول تحتهما وموازٍ لهما، قبضته إلى اليمين، وتتوسط مساحته رسمة الشهادة والسيف باللون الأبيض.

    </li>

   

    
    </div>
 </section>   


 <section>
<div>
   <img src="{% static 'images/6300-4.jpg' %}" class="ims">


</div>

<div class="col-6">
   <h1>11 مارس يوم العلم.. قصة الراية السعودية التي ترفرف منذ 9 عقود
   </h1>
        <p>

         وتعد الراية التي تحمل العلم رمزا للعقيدة والوطن ورمزا للشعوب والأمم والأوطان، فكل شيء في الراية له معناه ودلالاته الرمزية مثل اللون والحجم والزخرفة

         </p>
 </section>







 <div class="shadow-none p-3 mb-5 bg-body-tertiary rounded">بدات قصه علم المملكه العربيه السعوديه مع تاسيس الدوله السعوديه الاولي عام 1139ه /1727ه</div>
 <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">الدوله السعوديه الاولي والثانيه وبدايه عصر الدوله السعوديه الثالثه</div>

 <div class="shadow p-3 mb-5 bg-body-tertiary rounded"> في بدايه عهد الملك عبدالعزيز اضيف سيفان متقاطعان الي العلم </div>
 <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">تمت اضافه سيف اعلي العلم فوق شهاده التوحيد</div>
 <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">العلم السعودي في شكله الحالي ونص عليه نظام العلم</div>














{% endblock %}
