@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;

    list-style: none;
    text-decoration: none;
  
}


  
header{
    border: 1px solid #4CAF50;
    text-align: justify;
    background-color: rgba(37, 90, 61, 0.449);
    position: fixed;
    z-index: 999;
    display: flex;
    column-gap: 5px;
    justify-content:space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
width: 100vw;
padding: 5px;
padding-right: 50px;    
    
    

}
    

body {
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items:center ;
 
  
}

.dark {
    background-color: #212529;
    color: #f8f9fa;
  }
  
.wrapper{
    margin: 0px;
    padding: 0;
    width: 99vw;
    overflow-x: hidden;
    
}
.content.text-uppercase{
    size: 50pc;
    font-size: 40px;

}



.logo1{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}
.navigation a{
    color: #d6eadd;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    
}

.navigation a:hover{
    color: #84b79a;
    font-style: inherit;
}
section {
    padding: 100px 200px;
}
.main {
    width: 100;
    min-height: 100vh;
    display: flex;
    align-items: center;

}
.main h2{
    color: #000000;
    font-size: 40px;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: aliceblue;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    color: #dfd3d3;
    background-color: #1c6336;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #1c6336;
    transform: scale(1.1);
}

.main content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}


.ims{
    width: 39%;
    margin-left: 50%;
    margin-bottom: 8%;
    margin-top: -20;
    

}


.bgimg {
    background-position: center;
    background-size: cover;
    min-height: 75%;
    

  }

.main  content{
    font-size: 100%;

}

.content.ims{
    width: 46px;
    height: 44px;

}
.content.text-uppercase{
    font-size: larger;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: none;




}



h2 {
    font-size: 50px;
    line-height: 1.5;
    margin-top: 30%;
    margin-right: 1%;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
 }


 img:hover {
    transform: scale(1.1);
 }

 
h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 15%;
    margin-left: 14%;
 }  
 
 p {
    bottom: 29%;
    right: 40%;
    width: 40%;
    /* color: rgb(20, 14, 8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.027); */
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
 }
 .list{
    bottom: 29%;
    right: 40%;
    width: 40%;
    /* color: rgb(20, 14, 8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.027); */
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
 }
 img {
    width: 39%;
    margin-left: 50%;
    margin-bottom: 8%;
    margin-top: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
 }





