{% extends 'saudi_arabia/base.html' %}
{% load static %}

{% block title %} Energy Sector {% endblock %}


{% block style %}


{% endblock %}


{% block hero %}
<!--hero-->
<section class="bg-cover e-bg-img hero-section sector-hero">
    <div class="overlay e-overlay"></div>
    <div class="container text-white px-0 ">
        <div class="row">
            <div class="col-12">
                <h1>قطاع الطاقة</h1>
                <p class="hero-p"></p>
            </div>
        </div>
    </div>
</section>



{% endblock %}


{% block content %}
<section class="sector-first-section bg-e">
    <div class="container">
        <div class="row mt-4">
        
        
        <div class="row  d-flex justify-content-center">
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3 ">
                        <img src="{% static 'images/energy-sector.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">زيادة</h3>
                        <p>الطاقة الإنتاجية والتوزيعية للغاز</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/energy-sector.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">زيادة مساهمة </h3>
                        <p>مصادر الطاقة المتجددة</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/energy-sector.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">رفع</h3>
                        <p class="">تنافسية قطاع الطاقة</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3 ">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/energy-sector.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">دعم تعزيز</h3>
                        <p >البنية التحتية لقطاع الكرباء</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h2 class="about-h2">
                    عن قطاع الطاقة
                </h2>
                
                <div class="break-small mb-3 mt-4">  
                </div>
                <p style="line-height: 2;">يهدف قطاع الطاقة في البرنامج إلى رفع الميزات النسبية والتنافسية للمملكة لتعزيز
                     الريادة العالمية والمحافظة عليها ,حيث تعتبر المملكة من أكبر منتجي النفط والغاز في العالم , وتتميز بوفرة مواردها الطبيعية 
                     من الطاقة الشمسية والرياح , وخصوصا في المناطق الساحلية , وتعتلي المملكة المراكز الأولى في وفرة الإشعاع 
                     الشمسي , مما يساهم في إيجادفرص جديدة ذات قيمة اقتصادية أعلى , كما يمتلك فطاع الطاقة فرصا كبيرة للنمو في
                      مجال الكهرباء ؛نظرا للزيادة المتوقعة على الطلب المحلي ,ولأمكانية تصدير الكهرباء إقليميا بأسعار منافسة .</p>
                <div class="row mt-5 d-flex justify-content-between ">
                
        
                    <!-- counter -->
                    <div id="start-counting" class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/station.png' %}" alt="station" class="counting-icon mt-3">                 
                        <span class="counter-number"></span>
                        <span class="timer counter alt-font appear counting-number" data-to="9" data-speed="7000">9</span>
                        <p class="counter-title">محطات للطاقة الشمسية والرياح</p>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/achievement.png' %}" alt="achievement" class="counting-icon mt-3">                 
                        <span class="timer counter alt-font appear counting-number" data-to="3" data-speed="7000">3</span>
                        <span class="counter-title"> جوائز عالمية في الطاقة المتجددة </span>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/oil.png' %}" alt="oil" class="counting-icon mt-3">                 
                        <span class="timer counter alt-font appear counting-number" data-to="63" data-speed="7000">63</span>
                        <span class="counter-title">نسبة المحتوى المحلي للنفط والغاز</span>
                    </div>
                    <!-- end counter -->
                
                </div> <!--row 2-->
            </div>


            <div class="col-12 col-lg-6 mb-4 ">
                <div class="d-flex justify-content-center mt-2 mb-3">
                    <img src="{% static 'images/e3.png' %}" style="border-radius: 10px; width: 60%; padding: 1px 1px; object-fit: cover;">
                </div>
                <div class="qoute">
                    <p>
                        <span style="font-size: 30px;">“</span>أنتظر بكل شوق اليوم الذي سيأتي فيه كل منكم إلى الأمير محمد
                        بن سلمان ولي العهد، وتخبرونه بأنكم أنجزتم مهمة تحقيق
                        الرؤية كاملة. هذا اليوم أترقبه، وسأفتخر به، ولا أخفيكم أنني
                         أرى ملامح هذا اليوم قريبةً منا
                        <span style="font-size: 30px;">“</span>
                    </p>
                    <h6>
                            صاحب السمو الملكي   
                    </h6>
                    <p>
                         الأمير عبدالعزيز بن سلمان  
                    </p>
        
                </div>


            </div>
        </div><!--row 1-->
    </div>
</section>




<section>
    <div class="mb-5 " style="display: flex; flex-direction: column; position: relative; justify-content: center; align-items: center;">
        <h2 class="title-h2">أبرز المشاريع</h2>
        <div class="break-small"></div>
        
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="stunning-card ">
                    <img src="{% static 'images/e-card1.png' %}" alt="sdaia" class="stunning-img" />
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            منصات رقمية
                        </h1>
                        <p class="stunning-card-sub-title">
                             التحول الرقمي
                        </p>
                        <p class="stunning-card-info">
                            إجراء تصاريح أنشـطة نظام المتاجرة
                            بالمنتجات البترولية وتصاريح االإستيراد والتصدير، والبدء في تنفيذ
                           مشـروع إثبات جدوى أنظمة التتبع والمراقبة الإلكترونية باسـتخدام
                           الـــذكاء الصطناعي بالتعاون مع
                              (SDAIA)                        
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="stunning-card">
                    <img src="{% static 'images/e-card2.jpeg' %}" alt="fan" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            دومة الجندل
                        </h1>
                        <p class="stunning-card-sub-title">
                            لطاقة الرياح
                        </p>
                        <p class="stunning-card-info">
                            يقع مشروع دومة
                             الجندل لطاقة الرياح في 
                             منطقة الجوف ، وهو مشروع رائد يمثل التزام المملكة 
                            بتحقيق أهدافها الطموحة في تنمية الطاقة المتجددة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="stunning-card">
                    <img src="{% static 'images/e-card3.jpeg' %}" alt="sunchip" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            شمسي
                        </h1>
                        <p class="stunning-card-sub-title">
                             بوابة رقمية
                        </p>
                        <p class="stunning-card-info">
                            تشجع بوابة "شمسي" الرقمية المستهلكين في جميع أنحاء المملكة على التحول إلى الطاقة الشمسية، وتتيح لهم فهم الجدوى الاقتصادية والتكاليف التقديرية لتركيب منظومة الطاقة الشمسية في منازلهم 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="stunning-card">
                    <img src="{% static 'images/e-card4.jpg' %}" alt="kfaah" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            كفاءة
                        </h1>
                        <p class="stunning-card-sub-title">
                             مبادرة 
                        </p>
                        <p class="stunning-card-info">
                            إطلاق المرحلة الأولية من مبادرة اســـتبدال أجهزة التكييف (الشـــباك)، والتي تســـتهدف تحفيز
                            المواطنيـــن علـــى اســـتبدال مكيفـــات الشـــباك القديمة بأخـــرى جديدة ذات كفـــاءة أعلـــى بقيمة 1000
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}