{% extends 'saudi_arabia/base.html' %}
{% load static %}

{% block title %} Logistics Sector {% endblock %}

{% block style %}

{% endblock %}

{% block hero %}
<!--hero-->
<section class="bg-cover l-bg-img hero-section sector-hero">
    <div class="overlay l-overlay"></div>
    <div class="container text-white px-0 ">
        <div class="row">
            <div class="col-12">
                <h1>قطاع الخدمات اللوجستية</h1>
                <p class="hero-p"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="sector-first-section bg-l">
    <div class="container">
        <div class="row mt-4">   
            <div class="row  d-flex justify-content-center">
                <div class="col-lg-3 col-md-6 py-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3 ">
                            <img src="{% static 'images/logistics.png' %}" alt="">
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-uppercase text-dark">الاستثمار</h3>
                            <p>في التقنيات الذكية مثل الأتمتة</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 py-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{% static 'images/logistics.png' %}" alt="">
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-dark">تعزيز وتقدم</h3>
                            <p>أداء المراكز اللوجستية</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 py-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{% static 'images/logistics.png' %}" alt="">
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-dark">تحسين الربط الإقليمي</h3>
                            <p class="">والدولي لشبكات التجارة والنقل</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 py-3 ">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{% static 'images/logistics.png' %}" alt="">
                        </div>

                        <div class="icon-box-content">
                            <h3 class="card-title text-dark">تحسين</h3>
                            <p >التكامل مع أنماط النقل</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h2 class="about-h2">
                    عن قطاع الخدمات اللوجستية
                </h2>
                
                <div class="break-small mb-3 mt-4">  
                </div>
                <p style="line-height: 2;">
                    يمتلك قطاع الخدمات اللوجستية بالمملكة العديد من المميزات التنافسية أيضا
                    , وعلى رأسها:الموقع الاستراتيجي المركزي الذي يربط قارات
                    آسيا وإفريقيا وأوربا والذي يتتمركز على طول أهم طرق التجارة العالمية في حوض البحر الأحمر ,والحجم المحلي لاقتصاد
                    المملكة كأكبر أسواق دول مجلس التعاون الخليجي وأحد أهم الأسواق الاستهلاكية في منطقة الشرق الأوسط وشمال إفريقيا
                    , كما أن الموقع الجغرافي للممكلة يمكّنها من أن تصبح نواة ربط أساسية للخطوط التجارية والملاحية العالمية
                    , ومركزا لوجستيا رئيسيا لخدمة أسواق الشرق الأوسط وشمال وغرب إفريقيا ومنطقة شرق المتوسط , ويلعب قطاع 
                    الخدمات اللوجستية دورا مهما في تكامل قطاعات البرنامج وتكامل قطاعات البرنامج 
                    وتمكين بعضها البعض , حيث يسهم في: رفع جاذبية الاستثمار , وتكامل سلاسل الإمداد .
                    ويهدف البرنامج لتحويل الممكلة إلى منصة لوجستية عالمية.
                </p>
                <div class="row mt-5 d-flex justify-content-between ">
                
        
                    <!-- counter -->
                    <div id="start-counting" class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/licensing.png' %}" alt="licesing" class="counting-icon mt-3">                 
                        <span class="counter-number"></span>
                        <span class="timer counter alt-font appear counting-number" data-to="277" data-speed="7000">277</span>
                        <p class="counter-title">رخصة لوجستية</p>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/rating.png' %}" alt="econmy" class="counting-icon mt-3">                 
                        <span class="timer counter alt-font appear counting-number" data-to="38" data-speed="7000">38</span>
                        <span class="counter-title">  التقدم في المركز اللوجستي</span>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/economy.png' %}" alt="econmy" class="counting-icon mt-3">                 
                        <span class="timer counter alt-font appear counting-number" data-to="86" data-speed="7000">86</span>
                        <span class="counter-title">التقدم في مؤشر التجارة عبر الحدود</span>
                    </div>
                    <!-- end counter -->
                
                </div> <!--row 2-->
            </div>


            <div class="col-12 col-lg-6 mb-4 ">
                <div class="d-flex py-4 justify-content-center mt-2 mb-2">
                    <img src="{% static 'images/2.png' %}" style="border-radius: 10px; width: 60%; object-fit: cover; margin-bottom:0 ;">
                </div>
                <div class="qoute">
                    <p>
                        <span style="font-size: 30px;">“</span>
                        منظومة النقل والخدمات اللوجستية تسعى بشغف لتحقيق تطلعات
                        القيادة الرشيدة ليكون هذا القطاع رافداً رئيسياً لدعم الاقتصاد الوطني 
                        <span style="font-size: 30px;">“</span>
                    </p>
                    <h6>
                            معالي المهندس  
                    </h6>
                    <p>
                        صالح بن ناصر الجاسر
                    </p>
        
                </div>
            </div>
        </div><!--row 1-->
    </div>
</section>


<section>
    <div class="mb-5 " style="display: flex; flex-direction: column; position: relative; justify-content: center; align-items: center;">
        <h2 class="title-h2">أبرز المشاريع</h2>
        <div class="break-small"></div>
        
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="stunning-card ">
                    <img src="{% static 'images/l-card1.png' %}" alt="mining" class="stunning-img" />
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            شركة أبل 
                        </h1>
                        <p class="stunning-card-sub-title">
                              مركز توزيع 
                        </p>
                        <p class="stunning-card-info">
                            تشغيل مركز توزيع شركة أبل في مطار الملك خالد الدولي ونتج عنه توزيع 100,000 قطعة للبلد الرئيس ودول مجلس التعاون الخليجي ,مما يسهم في الوصول إلى مستهدفات قطاع الشحن الجوي
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="stunning-card">
                    <img src="{% static 'images/l-card2.jpg' %}" alt="mining" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            سار  
                        </h1>
                        <p class="stunning-card-sub-title">
                               مشروع خط حديدي
                        </p>
                        <p class="stunning-card-info">
                            تدشين الخط الحديدي الرابط بين شبكتي الشمال والشرق ,دشنت الشركة السعودية للخطوط الحديدية "سار" المشروع الرابط بين خط الشمال وخط الشرق في المنطقة الشرقية "الجبيل,الدمام"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="stunning-card">
                    <img src="{% static 'images/l-card3.jpg' %}" alt="mining" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            البرنامج التنفيذي  
                        </h1>
                        <p class="stunning-card-sub-title">
                               الأكاديمية اللوجيستية 
                        </p>
                        <p class="stunning-card-info">
                            أطلقت الأكاديمية اللوجيستية السعودية البرنامج التنفيذي الذي استهدف أكثر من 30 متدربا عام 2022, كما تم تأهيل 185 متدربا , ووقعت 13 اتفاقية مع جامعات ومعاهد دولية
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}