{% extends 'saudi_arabia/base.html' %}
{% load static %}

{% block title %} Maining Sector {% endblock %}

{% block style %}

{% endblock %}


{% block hero %}
<!--hero-->
<section class="bg-cover m-bg-img hero-section sector-hero">
    <div class="overlay m-overlay"></div>
    <div class="container text-white px-0 ">
        <div class="row">
            <div class="col-12">
                <h1>قطاع التعدين</h1>
                <p class="hero-p"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}       
<section class="sector-first-section bg-m">
    <div class="container">
        <div class="row mt-4">
        
        
        <div class="row  d-flex justify-content-center">
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3 ">
                        <img src="{% static 'images/mining.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">إتمام البرنامج العام</h3>
                        <p>للمسح الجيولوجي لمنطقة الدرع العربي</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/mining.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">تطوير سلاسل </h3>
                        <p>القيمة المضافة للصناعات المعدنية</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/mining.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">توفير</h3>
                      <p class="">البيانات بصيغة رقمية وبموثوقية</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 py-3 ">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <img src="{% static 'images/mining.png' %}" alt="energy-sector">
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-dark">خلق فرص </h3>
                        <p >وظيفية وتنمية الكوادر الوطنية</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h2 class="about-h2">
                    عن قطاع التعدين
                </h2>
                
                <div class="break-small mb-3 mt-4">  
                </div>
                <p style="line-height: 2;">
                    يتميز قطاع التعدين في المملكة بعدد من الكيزات التنافسية ,منها :احتواء باطن الأرض في 
                    المملكة على احتياطات عالية من المعادن والمواد الخام ,مما يشكل ركيزة ثالثة 
                    للاقتصاد السعودي ,ويعد قطاع التعدين أحدأهم عوامل دعم وتمكين القطاعات الأخرى في البرنامج ,حيث سيسهم
                     القطاع في تغطية الاستهلاك الكبير للسوق المحلي والعالمي ,وتوفير احتياجات قطاعي الصناعة والطاقة مثل:توفير مادة السيليكا لصناعات الطاقة المتجددة والمتمثلة في البولي سيليكون ,وتوفير المواد الأولوية كالحديد والنحاس والألمونيوم والمواد اللازمة للصناعات العسكرية وصناعة الآلات والمعدات وغيرها 
                </p>    
                <div class="row mt-5 d-flex justify-content-between ">
                
        
                    <!-- counter -->
                    <div id="start-counting" class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/data-transfer.png' %}" alt="station" class="counting-icon">                 
                        <span class="counter-number"></span>
                        <span class="timer counter alt-font appear counting-number" data-to="26" data-speed="7000">26</span>
                        <p class="counter-title">  مليار إجمالي الصادرات </p>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/radar.png' %}" alt="achievement" class="counting-icon">                 
                        <span class="timer counter alt-font appear counting-number" data-to="25" data-speed="7000">25</span>
                        <span class="counter-title">     نسبة استكمال أعمال مسح الدرع العربي </span>
                    </div>
                    <!-- end counter -->
                    <!-- counter -->
                    <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                        <img src="{% static 'images/local-product.png' %}" alt="oil" class="counting-icon">                 
                        <span class="timer counter alt-font appear counting-number" data-to="64" data-speed="7000">64</span>
                        <span class="counter-title">مليار مساهمه في الانتاج المحلي</span>
                    </div>
                    <!-- end counter -->
                
                </div> <!--row 2-->
            </div>


            <div class="col-12 col-lg-6 mb-4 ">
                <div class="d-flex justify-content-center mt-2 mb-2">
                    <img src="{% static 'images/1.png' %}" style="border-radius: 10px; width: 60%; padding: 1px 1px; object-fit: cover;">
                </div>
                <div class="qoute">
                    <p>
                        <span style="font-size: 30px;">“</span>
                         نستهدف أن يكون قطاع التعدين الركيزة الثالثة في
                        الاقتصاد السعودي، ولدى المملكة فرصة كبرى
                        لتكون وجهة مؤهلة وموثوقة لصناعة التعدين
                        على مستوى العالم، لما تحتويه أراضيها من ثروات
                        تعدينية هائلة تقدر ب 5 ترليونات ريال
                        <span style="font-size: 30px;">“</span>
                    </p>
                    <h6>
                        معالي الأستاذ    
                    </h6>
                    <p>
                        بندر بن إبراهيم الخريف  
                    </p>
                </div>
            </div>
        </div><!--row 1-->
    </div>
</section>




<section>
    <div class="mb-5 " style="display: flex; flex-direction: column; position: relative; justify-content: center; align-items: center;">
        <h2 class="title-h2">أبرز المشاريع</h2>
        <div class="break-small"></div>
        
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="stunning-card ">
                    <img src="{% static 'images/m-card1.jpg' %}" alt="mining" class="stunning-img" />
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            شركة إسناد 
                        </h1>
                        <p class="stunning-card-sub-title">
                              لخدمات التعدين
                        </p>
                        <p class="stunning-card-info">
                            تأسيس شركة مساهمة تملكها الدولة لخدمات 
                            التعدين، والتي تعد أحد مبادرات استراتيجية قطاع التعدين في المملكة 
                            وتنطوي تحت مظلة برنامج تطوير الصناعة الوطنية والخدمات اللوجستية
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="stunning-card">
                    <img src="{% static 'images/m-card4.jpeg' %}" alt="mining" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            مســتقبل المعادن 
                        </h1>
                        <p class="stunning-card-sub-title">
                             مؤتمر بنسخته الأولى
                        </p>
                        <p class="stunning-card-info">
                            حول مســـتقبل قطـــاع التعدين ومســـاهمته فـــي تنمية المجتمعـــات وتعزيز أنظمة الإســـتدامة
                            والطاقة النظيفة وجذب الإســـتثمارات المباشرة لقطاع التعدين
                            فـــي المنطقـــة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="stunning-card">
                    <img src="{% static 'images/m-card3.jpg' %}" alt="mining" class="stunning-img"/>
                    <div class="stunning-card-body">
                        <h1 class="stunning-card-title">
                            الدرع العربي 
                        </h1>
                        <p class="stunning-card-sub-title">
                             برنامج للمسح الجيلوجي 
                        </p>
                        <p class="stunning-card-info">
                            اسـتكمال أعمال البرنامـج العام للمسـح
                            الجيولوجـي بمسـاحة إجمالية تقدر بحوالي
                            25 %من مساحة الدرع العربي خـلال عام 2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}