<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style1.css" />

  <header>
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <nav class="navbar">
            <div class="container-xxl">
            <a href="#" class="navbar-brand">
            <span class="fw-bold text-secondry">
            <nav class="navbar navbar-expand-md">
            <div class="container-xxl">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'saudihis:main' %}"> <b> Saudi cul</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'saudihis:main' %}">Home</a>
            </li>
            <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
-->
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'saudihis:middlestate' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Regions
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'saudihis:middlestate' %}">central region</a></li>
            <li><a class="dropdown-item" href="{% url 'saudihis:northstate' %}">Norther region</a></li>
            <li><a class="dropdown-item" href="{% url 'saudihis:eaststate' %}">east region</a></li>
            <li><a class="dropdown-item" href="{% url 'saudihis:westestate' %}">West region</a></li>
            <li><a class="dropdown-item" href="{% url 'saudihis:southstate' %}">South region</a></li>




            </ul>
            </li>
            </li>
            </ul>
            </div>
            </div>
            </nav>
            </div>
            </nav> 
                    <!--here the button it makes the nav bar be in the midddle :| -->
                    <button class="navbar-toggler"></button>           
            </span>
            </a>
    </div>
    </div>
  </div>
</header>

<div class="main-boxB">
{% block content %}

{% endblock %}


</div>
</body>
</html>