{% extends 'saudihis/eachstate.html' %}
{% load static %}
{% block content %}


<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4 center">
          <h2><b>middle</b></h2>
          <p class="para1">
            As you step foot in Riyadh, you'll be captivated by its architectural marvels that reach towards the sky, reflecting the city's rapid growth and development. Skyscrapers and gleaming towers dominate the skyline, showcasing the city's modern infrastructure and cosmopolitan ambiance. Amidst the bustling streets, you'll encounter a mosaic of cultures, with locals and expatriates from around the globe creating a vibrant tapestry of diversity.
            Exploring Riyadh's historic districts, such as Diriyah and Al-Masmak Fortress, takes you on a journey back in time.
          </p></div>
      </div>
    </div>
  </div>


<div class="main-box2">
<div class="container">
  <div class="row">
    <div class="col-8">
      <img src="/static/images/east-clothsjpg" alt="">
      <div class="image-container">
        <img src="/static/images/east-cloths.jpg" alt="Image 1" class="stacked-image">
      </div>
       </div>      
       <div class="col-4">
        <h2><b>middle</b></h2>
        <p class="para1">
          This image captures the essence of traditional 
          clothing from the eastern region of Saudi Arabia. 
          The individuals in the photo are adorned in vibrant 
          and colorful garments, intricately designed with patterns 
          that reflect the rich cultural heritage of the area. 
          The diverse styles of clothing seen in the image highlight
          the unique traditions and customs of different tribes and
          communities within the eastern region. This depiction serves
          as a visual representation of the cultural identity and richness 
          found in the traditional attire of Saudi Arabia's eastern region. 
         </p></div>
</div>
</div>

</div>
<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4">col-4 here should be a small description of the state and link to the state's page </div>
    </div>
  </div>
  </div>
  {% endblock %}