{% extends 'saudihis/eachstate.html' %}
{% load static %}
{% block content %}


<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4 center">
          <h2><b>middle</b></h2>
          <p class="para1">
            As you step foot in Riyadh, you'll be captivated by its architectural marvels that reach towards the sky, reflecting the city's rapid growth and development. Skyscrapers and gleaming towers dominate the skyline, showcasing the city's modern infrastructure and cosmopolitan ambiance. Amidst the bustling streets, you'll encounter a mosaic of cultures, with locals and expatriates from around the globe creating a vibrant tapestry of diversity.
            Exploring Riyadh's historic districts, such as Diriyah and Al-Masmak Fortress, takes you on a journey back in time.
          </p></div>
      </div>
    </div>
  </div>


<div class="main-box2">
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="image-container">
        <img src="/static/images/north-cloths.jpg" alt="Image 1" class="stacked-image">
      </div>
    </div> 
             <div class="col-4">
        <h2><b>middle</b></h2>
        <p class="para1">
          The image depicts a group of people wearing traditional clothing 
          from the northern region of Saudi Arabia. 
          In the picture, individuals can be seen donning long 
          and loose-fitting garments adorned with intricate patterns 
          and designs that reflect the cultural heritage of the region. 
          The traditional clothing styles showcase unique traditions 
          and customs of different tribes and communities within the 
          northern region, highlighting the cultural identity and richness
          of the northern region in Saudi Arabia.
        </p></div>
  </div>
</div>

</div>
<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4">col-4 here should be a small description of the state and link to the state's page </div>
    </div>
  </div>
  </div>
  {% endblock %}