{% extends 'saudihis/eachstate.html' %}
{% load static %}
{% block content %}


<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4 center">
          <h2><b>middle</b></h2>
          <p class="para1">
            As you step foot in Riyadh, you'll be captivated by its architectural marvels that reach towards the sky, reflecting the city's rapid growth and development. Skyscrapers and gleaming towers dominate the skyline, showcasing the city's modern infrastructure and cosmopolitan ambiance. Amidst the bustling streets, you'll encounter a mosaic of cultures, with locals and expatriates from around the globe creating a vibrant tapestry of diversity.
            Exploring Riyadh's historic districts, such as Diriyah and Al-Masmak Fortress, takes you on a journey back in time.
          </p></div>
      </div>
    </div>
  </div>


<div class="main-box2">
<div class="container">
  <div class="row">
    <div class="col-8">
      <img src="/static/images/midlle-clothsjpg" alt="">
      <div class="image-container">
        <img src="/static/images/south-cloths.jpg" alt="Image 1" class="stacked-image">
      </div>
       </div>      <div class="col-4">
        <h2><b>middle</b></h2>
        <p class="para1">
          The image showcases the traditional clothing of 
          the southern region of Saudi Arabia. 
          The individuals in the picture are seen wearing 
          distinctive garments that reflect the cultural 
          heritage of the area. The clothing is characterized by 
          its vibrant colors, intricate embroidery, and unique designs. 
          The styles worn by the people in the image highlight 
          the diversity within the traditional clothing of the southern region, 
          with variations that may signify different tribes or communities. 
          This traditional cloth style represents an important part of the 
          cultural identity and heritage of the southern region of Saudi Arabia.
        </p></div>
  </div>
</div>

</div>
<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4">col-4 here should be a small description of the state and link to the state's page </div>
    </div>
  </div>
  </div>

  {% endblock %}