{% extends 'saudihis/eachstate.html' %}
{% load static %}
{% block content %}


<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4 center">
          <h2><b>middle</b></h2>
          <p class="para1">
            As you step foot in Riyadh, you'll be captivated by its architectural marvels that reach towards the sky, reflecting the city's rapid growth and development. Skyscrapers and gleaming towers dominate the skyline, showcasing the city's modern infrastructure and cosmopolitan ambiance. Amidst the bustling streets, you'll encounter a mosaic of cultures, with locals and expatriates from around the globe creating a vibrant tapestry of diversity.
            Exploring Riyadh's historic districts, such as Diriyah and Al-Masmak Fortress, takes you on a journey back in time.
          </p></div>
      </div>
    </div>
  </div>


<div class="main-box2">
<div class="container">
  <div class="row">
    <div class="col-8">
      <img src="/static/images/east-clothsjpg" alt="">
      <div class="image-container">
        <img src="/static/images/west-cloths.jpg" alt="Image 1" class="stacked-image">
      </div>
       </div>   
           <div class="col-4">
        <h2><b>middle</b></h2>
        <p class="para1">
          The image portrays the traditional clothing style of the western 
          region of Saudi Arabia. The individuals in the picture are seen 
          wearing attire that reflects the cultural heritage and customs of 
          the region. The clothing is characterized by its simplicity, 
          practicality, and suitability for the arid climate of the area. 
          The styles typically feature loose-fitting garments, 
          often in earthy tones, with minimal embellishments. 
          The traditional cloth style of the western region 
          signifies the cultural identity and historical traditions 
          of the communities in that area.
        </p></div>
  </div>
</div>

</div>
<div class="main-box1">
  <div class="container">
    <div class="row">
        <div class="col-8">col-8 here should be a video of the state </div>
        <div class="col-4">col-4 here should be a small description of the state and link to the state's page </div>
    </div>
  </div>
  </div>

  {% endblock %}