{% extends 'saudihis/eachstate.html' %}
{% load static %}
{% block title %}<title>West region</title>{%endblock%}

{% block content %}


<div class="main-box1">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="main-box">
            <!-- Your carousel code goes here -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/images/al-balad-street-food-crawl.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/230407092148-04-al-balad-jeddah-saudi-arabia-old-city.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Madain-Saleh-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Shubra Palace.jpg" class="d-block w-100" alt="...">
                </div>


              </div>
            </div>
            <!-- Include Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        </div>
      </div>        <div class="col-4 ">
          <h2><b>West region</b></h2>
          <p class="para2">
            The western region of Saudi Arabia is steeped in history, with two standout cities that offer a captivating glimpse into the past. Jeddah, a historic city and UNESCO World Heritage site, enchants visitors with its bustling old town, Al-Balad. This vibrant district showcases traditional architecture, narrow alleyways, and iconic landmarks like the Nasseef House. Taif, nestled amidst picturesque mountains, holds historical importance as a summer retreat for the Saudi royal family. The city boasts notable sites such as Shubra Palace, renowned for its beautiful gardens and traditional architecture. Exploring these historical places in the west region of Saudi Arabia provides a fascinating journey through time, immersing visitors in the region's cultural heritage and historical significance.          </p></div>
      </div>
    </div>
  </div>



<div class="main-box2">
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="image-container">
        <img src="/static/images/west-cloths.jpg" alt="Image 1" class="stacked-image">
      </div>
    </div>  
           <div class="col-4">
        <h2><b>West traditional clothing style </b></h2>
        <p class="para1">
          The image portrays the traditional clothing style of the western 
          region of Saudi Arabia. The individuals in the picture are seen 
          wearing attire that reflects the cultural heritage and customs of 
          the region. The clothing is characterized by its simplicity, 
          practicality, and suitability for the arid climate of the area. 
          The styles typically feature loose-fitting garments, 
          often in earthy tones, with minimal embellishments. 
          The traditional cloth style of the western region 
          signifies the cultural identity and historical traditions 
          of the communities in that area.
        </p></div>
  </div>
</div>

</div>


  {% endblock %}